[2019-03-05 07:33] txjoe opened #220 "Issues with enabling eager execution."
I was following the tutorials included with the repo, The one on https://github.com/tensorflow/federated/blob/master/docs/tutorials/federated_learning_for_image_classification.ipynb to be specific, and on executing
`example_element = iter(example_dataset).next()`

I got the following error
`RuntimeError: dataset.__iter__() is only supported when eager execution is enabled.`

While following the tu

[2019-03-05 09:15] #220 closed

[2019-03-05 09:17] txjoe commented on #220
not sure, what was wrong. Works on a different VM.

[2019-03-06 14:01] jeandut opened #224 "Installing with pip breaks because TF2.0 doesn't have contrib"
Currently you cannot install by:
`pip install --upgrade tensorflow-federated`
because it will download tf 2.0 which doesn't have a contrib module. You have to pip install a fixed version<2.0 (it works with 1.13.1 for instance).

[2019-03-06 15:42] tushar-semwal opened #225 "No 'loss' attribute"
I was able to run the Federated Image classification tutorial last week. But now this error is popping:
![tff_eror](https://user-images.githubusercontent.com/8556809/53893611-6e00ec80-4026-11e9-9a05-e03eed235a5d.PNG)

[2019-03-06 16:58] jkr26 commented on #225
Testing #226, will merge once all tests pass

[2019-03-06 17:12] jkr26 commented on #225
#226 is merged, this error should be fixed.

[2019-03-06 17:21] tushar-semwal commented on #225
Thanks!

[2019-03-06 17:21] #225 closed

[2019-03-07 01:04] michaelreneer commented on #224
@jeandut Thanks for bringing this to our attention. This will be fixed in the next release. I have assigned this issue to myself and I will close it with that release.

As you mentioned you can pip install a fixed version < 2.0 to work around this issue until then.

[2019-03-07 19:42] bhack opened #229 "Federated in Tensorflow.js"
Will this api be exposed in Tensorflow.js?
So that you can join in the federation from a browser tab.

[2019-03-07 22:41] bhack commented on #229
From https://arxiv.org/pdf/1901.05350.pdf

/cc @dsmilkov @nsthorat

[2019-03-08 15:35] innerop commented on #229
There is already an example of Federated Learning in TensorflowJS by Google’s PAIR group. Just Google it. This I believe has the simulation environment and high level API that are missing from TFJS and TF.

[2019-03-08 15:42] bhack commented on #229
Ok. https://github.com/PAIR-code/federated-learning

[2019-03-08 15:43] bhack commented on #229
I hope it will be included upstream cause I don't see any commit from October.

[2019-03-09 08:38] xjohnxjohn commented on #224
@jeandut I found "ModuleNotFoundError: No module named 'tensorflow.python.saved_model.model_utils'" with 1.13.1.

[2019-03-10 05:20] wuzhiyu666 opened #231 "ImportError: cannot import name 'computation_pb2'"
When running the code ''tensorflow_federated/python/examples/mnist/**models_test.py**'', I got an error

File "/home/wzy/Desktop/github_project/federated-master/tensorflow_federated/python/core/impl/computation_impl.py", line 20, in <module>
    from tensorflow_federated.proto.v0 import computation_pb2 as pb
**ImportError: cannot import name 'computation_pb2'**

Then I viewed the folder  **tensorf

[2019-03-10 07:03] michaelreneer commented on #231
@wuzhiyu666 Can you go into more detail by what you mean when you say "when running"? Is it possible that you are possibly not using Bazel to run the `models_test` target?

[code]

You can see that there is a protobuf [computation.proto](https://github.com/tensorflow/federated/blob/master/tensorflow_federated/proto/v0/computation.proto) located at the path that you referenced. Bazel will resolve t

[2019-03-11 04:45] wuzhiyu666 commented on #231
thank you so much! I will try it.

[2019-03-11 11:36] wuzhiyu666 commented on #231
Sorry, when I used bazel to compile the code, it took 2 hours and failed in the end. when I say "when running", I am running the code "`models_test`" in pycharm. I have question that can I run the code in pycharm locally without bazel and docker?
Thank you so much! @michaelreneer

[2019-03-11 15:44] michaelreneer commented on #231
So there are a few things here:

* It's possible that it would take 2 hours to build. TFF has a source-level dependency on TensorFlow so you end up building TFF from source. This entirely depends on your machine.

* We have a hard dependency on protobuf and converting the `computation.proto` in to the missing `computation_pb2`. Which practically means that we also have a dependency on Bazel. We do

[2019-03-12 03:34] drkingman opened #235 "install and import problem"
I have followed the install steps
`virtualenv --python python3 "venv"
source ./venv/bin/activate
pip install --upgrade pip
(veno) pip install --upgrade tensorflow_federated
`
and I have installed `bazel 0.23.2`
when testing `python -c "import tensorflow_federated as tff; tff.federated_computation(lambda: 'Hello, World!')()"` it returned `bash: !': event not found`

when testing the demo, it shows

[2019-03-12 06:19] hu6360567 commented on #235
You may check the version of tensorflow.
Tensorflow does not have a contrib module for 2.0 version.
#224

[2019-03-12 09:56] osanwe opened #236 "Tensor is not an element of this graph"
I've tried to reproduce a tutorial "Federated Learning for Image Classification" in Colab [1] and encountered a `ValueError` during execution

    iterative_process = tff.learning.build_federated_averaging_process(model_fn)

The error is following:

     ---------------------------------------------------------------------------
     ValueError                                Traceback (most recent

[2019-03-12 16:06] ZacharyGarrett commented on #236
Thanks for the report @osanwe. We're are actively working on the next release, which will fix this.

The following link should work for the next few days, until the new release:
https://colab.sandbox.google.com/github/tensorflow/federated/blob/test_237819542/docs/tutorials/federated_learning_for_image_classification.ipynb

[2019-03-12 16:07] michaelreneer commented on #235
Thanks @hu6360567, this is correct. Duplicate of #224.

[2019-03-12 19:02] nsthorat commented on #229
The PAIR-code/federated-learning library is not part of tensorflow/federated officially. It was just an experiment and does not interact with this library (which is the official TensorFlow federated learning library).

[2019-03-12 19:19] bhack commented on #229
Mhh.. it could be useful if the official Tensorflow.js repo will interact with the official federated learning library.

[2019-03-12 19:55] nsthorat commented on #229
Yes -- that would be great, but we (TensorFlow.js team) don't currently have the cycles to do that.

[2019-03-12 20:22] heikoludwig opened #241 "Error building the pip package with Bazel"
I had a problem building the pip package with Bazel, as below.

------
[code]
-----------

It's my first time using Bazel. I had installed it as per instructions but the test had errors. Any thoughts?

------------
(venv) heikos-air:federated hludwig$ bazel test //tensorflow_federated/...
Starting local Bazel server and connecting to it...
ERROR: /private/var/tmp/_bazel_hludwig/b759d6cfdc3b8fefc6d

[2019-03-12 20:28] ZacharyGarrett commented on #241
Thanks for the report. Can you try adding the flag
   `--incompatible_disallow_data_transition=false`
to your `bazel test` commnadline, as a temporary workaround while we dig into the issue?

[2019-03-12 20:38] bhack commented on #229
Probably the federated target currently it is not on for a scale "a training node in every user browser tab"

[2019-03-13 01:01] michaelreneer commented on #224
This is fixed in [v0.2.0](https://github.com/tensorflow/federated/tree/v0.2.0).

[2019-03-13 01:01] #224 closed

[2019-03-13 03:35] heikoludwig commented on #241
I tried that. It went really well for a long time but then it failed.

[code]

[2019-03-13 04:05] heikoludwig commented on #241
I probably should have added this at the outset: I built on MacOS 10.14.3 on a MacBook Air. If you have any suggestions for a less problematic platform to try it out let me know.

[2019-03-13 04:36] jkr26 commented on #236
Hi @osanwe, we updated to v0.2.0 earlier today; this notebook now works. Thanks for the vigilance!

[2019-03-13 04:36] #236 closed

[2019-03-13 22:28] batrlatom commented on #229
@nsthorat I also thinks that federated learning would be a great thing in the Tensorflowjs and this project is best suited for it since it would turn any browser into learning node. Maybe you can talk about it with your team if you could put it on the roadmap in some meaningful future.

[2019-03-14 05:29] wuzhiyu666 commented on #231
Thank you so much! @michaelreneer
Sorry for the late reply, I have reinstalled my operating system and run bazel again. But I got a new problem. The bazel have used up all my RAM and crash my computer.
Could you please tell me how to sovle the problem?
Thank you!

[2019-03-14 05:37] wuzhiyu666 commented on #231
I have a new question that if using bazel is not mandatory, is there another demo can I run without bazel?
I am new to federated-leaning and just want to run a demo to see how it works.
Thank you! @michaelreneer

[2019-03-14 07:59] drkingman commented on #235
actually since I updated to 0.2.0 version,  it still returned `bash: !': event not found`

[2019-03-14 09:08] drkingman opened #247 "examples/mnist problem"
I'm trying mnist example and something happens

`During handling of the above exception, another exception occurred:
Traceback (most recent call last):
File "demo.py", line 26, in <module>
trainer = tff.learning.build_federated_averaging_process(model_fn)`

![图片](https://user-images.githubusercontent.com/22471616/54344362-a2eeee00-467b-11e9-84cc-119ecefe5a84.png)

[2019-03-14 09:30] drkingman commented on #247
I have sorted out

[2019-03-14 13:15] jkr26 commented on #231
Hi @wuzhiyu666,

If you are looking for a demo, the place I would start is the Colab notebooks linked from tensorflow.org/federated, under tutorials, e.g.:

https://www.tensorflow.org/federated/tutorials/federated_learning_for_image_classification

If you open these notebooks, you will see a button for "open in Google Colab"; this will connect you to a runtime which allows you to step through the

[2019-03-14 14:32] ZacharyGarrett commented on #241
@heikoludwig

Could you provide more information on your setup? (e.g. what version of Bazel?)

This may be bazelbuild/bazel#7607. If you're confident enough, you might try the workaround mentioned in that issue.

[2019-03-14 15:35] michaelreneer commented on #231
@wuzhiyu666

As I mentioned before you can simply install the pip package to use TFF or you could do as @jkr26 suggested and run one of the TFF tutorials directly in your browser in Colab. **I would strongly recommend one of these approachs, the easiest is simply running the notebook in your browser.***

Bazel is required to build TFF source. If you are having issues with Bazel RAM usage, you can

[2019-03-14 15:45] michaelreneer commented on #231
@wuzhiyu666 As a data point for us, would you mind sharing the specs of your machine?

[2019-03-14 15:55] michaelreneer commented on #235
Sorry I should have been more clear previously. The error that I initially noticed actually had nothing to do with `bash: !': event not found` and instead was the line in your screenshot reading `AttributeError: module 'tensorflow' has not attribute 'contrib'`. This error was described in #224.

I suspect that you tried to re-run these commands using your old virtual environment? I am not sure if

[2019-03-14 19:09] krzys-ostrowski commented on #229
Hi, there are at least 2 ways of interpreting this question, (a) exposing JS equivalents of the TFF APIs that we currently offer in Python, (b) providing an in-browser JS runtime for executing TFF computations. Which one did you have in mind? I can see the advantages of (b), and it's consistent with the current system design. The advantages of (a) are less clear to me. Someone would have to make a

[2019-03-14 19:32] bhack commented on #229
For me b has the priority over a so that you can join in a federation just with you browser tab.

[2019-03-14 21:45] heikoludwig commented on #241
My Bazel version is

[code]

I also use the same MacOS version as the poster of  [#bazelbuild/bazel#7607]. So, it appears that the error is along the same lines although the error message is slightly different.

[2019-03-15 06:26] ANSHUMAN87 opened #250 "No output from tff.federated_computation(), image classification example"
When i execute image classification example in the link below:
https://github.com/tensorflow/federated/blob/master/docs/tutorials/federated_learning_for_image_classification.ipynb
Following the installation steps provided.
I am not getting ourput of 'Hello, World!'

System: Ubuntu 18.04
Output:
![image](https://user-images.githubusercontent.com/32511895/54412596-56f28680-4719-11e9-88c7-52a88567cbf

[2019-03-15 08:43] batrlatom commented on #229
b is the way

[2019-03-15 08:55] bigpear123 opened #251 "Can TFF be used for training on mobile phone?"
the model we can get now can be used on mobile phone for federated_learning?

[2019-03-15 12:29] drkingman commented on #250
I have met the same problem, as I tried using `jupyter notebook` and follow the linked example, it will be totally fine to run it.

[2019-03-18 08:45] codarm opened #252 "Installation Federated Learning on raspberry pi"
Would be needing help with installation of tensorflow_federated on raspberry pi .

[2019-03-19 16:43] michaelreneer commented on #247
@drkingman Your issue mentions that you are trying to mnist example and your error and picture reference a `demo.py`.

Have you checked out the [install](https://www.tensorflow.org/federated/install) documentation? I would recommend first running the colabs if you are interesting in learning about federated learning. If you are interested in contributing please take a look at those install instruc

[2019-03-19 16:52] michaelreneer commented on #250
@ANSHUMAN87 It looks like you are using jupyter to convert the notebook to python, is that correct? Or are you possibly copying the code from the notebook into your own custom script? Have you tried to run the notebook in colab? One difference between running the code in a notebook and running the code in a script is that in a notebook the output is produced by the notebook not the python code. So

[2019-03-19 22:32] krzys-ostrowski commented on #251
We designed the system with this possibility in mind. However, at the moment there is no support in TFF for deployment to mobile devices. Only a simple local simulation runtime.

[2019-03-19 22:35] krzys-ostrowski commented on #252
At the moment, TFF only supports simple local simulations, there is currently no support for deploying to platforms such as raspberry pi.

[2019-03-20 01:11] drkingman commented on #247
@michaelreneer Thank a lot, the problem is solved.

[2019-03-20 01:11] #247 closed

[2019-03-20 20:58] aqibsaeed opened #258 "Keras set_weights function not working with batch normalization layer in the network"
`model.set_weights()` function from Keras is not working if the network consists of batch normalization layer(s). I looked into the issue, I believe, it is due to having an incorrect order of array elements as returned by `tff.learning.keras_weights_from_tff_weights(state.model)` function which does not match the output of `model.get_weights()`. Also, the underlying reason could be that the `state

[2019-03-22 14:51] INERKIDFYN opened #262 "AttributeError: module 'tensorflow_federated.python' has no attribute 'federated_mean'"
When i execute image classification example(Customizing the model implementation) on PyCharm in the link below:
https://github.com/tensorflow/federated/blob/master/docs/tutorials/federated_learning_for_image_classification.ipynb

wrong:
Traceback (most recent call last):
  File "/data/PycharmProjects/federated_learning/test.py", line 120, in <module>
    MnistTrainableModel)
  File "/home/BH/fyn12

[2019-03-22 15:29] michaelreneer commented on #262
@INERKIDFYN You have two options here...
1. Run the colab that you linked from the latest release v0.2.0. https://github.com/tensorflow/federated/blob/v0.2.0/docs/tutorials/federated_learning_for_image_classification.ipynb
2. Build source at master, build a pip package, install the pip package, build a IPython kernel, and then run the notebook at master.

I would recommend option 1.

[2019-03-22 15:29] #262 closed

[2019-03-22 15:31] #231 closed

[2019-03-22 15:31] #235 closed

[2019-03-22 15:32] #250 closed

[2019-03-23 01:46] INERKIDFYN commented on #262
@michaelreneer
According to your suggestion 1, my problem has been solved. Thank you very much.

[2019-03-25 04:53] ANSHUMAN87 commented on #250
@michaelreneer : Thank you very much for pointing out that. It is really the root-cause. Now it is solved, thanks for your help!

[2019-03-25 22:34] minsuk-heo opened #268 "should I use swift for tensorflow when deploying real devices?"
I guess current tff only support simulation, but I wonder what is the plan for real deployment on iphone. should I use swift for tensorflow for federated learning on real device?

[2019-03-27 19:17] Joostrothweiler commented on #251
@krzys-ostrowski could you please elaborate on the timeline for implementing this or work that is to be done in order to make this happen?

[2019-03-28 04:08] INERKIDFYN opened #278 "Why doesn't the code run on the GPU?"
When i execute image classification example(Customizing the model(VGG16) implementation) on PyCharm in the link below:
https://github.com/tensorflow/federated/blob/v0.2.0/docs/tutorials/federated_learning_for_image_classification.ipynb
my code :
https://paste.ubuntu.com/p/Ff3GVw3QKn/
![gpu](https://user-images.githubusercontent.com/42964873/55129377-d89ed700-5151-11e9-8617-2134ada47731.PNG)
![捕获1]

[2019-03-28 08:32] aqibsaeed commented on #258
Any updates on this? Thank you in advance.

[2019-03-28 15:46] ZacharyGarrett commented on #278
Hi @INERKIDFYN

GPU support is part of core TensorFlow. Could you try following the TF instructions at https://www.tensorflow.org/install/gpu and install the `tensorflow-gpu` pip package? Make sure to use version 1.13.1 and not the 2.0 alpha.

[2019-03-28 15:51] ZacharyGarrett commented on #258
Thank you for the report @aqibsaeed, apologies for the delay.

I've been trying to reproduce this with little success. Might you be able to provide a minimal code that defines an example model and input data to reproduce this? Which TFF release you see this behavior?

Its also not entirely clear to us (yet) how the batch normalization parameters should be handled in the federated setting.

[2019-03-28 16:38] aqibsaeed commented on #258
I used the [colab notebook](https://www.tensorflow.org/federated/tutorials/federated_learning_for_image_classification) provided on tensorflow.com/federated website.

[code]

After one round of training as described in the notebook, I tried to set the weights as follows and got the error pasted below: (Am I not setting the weights correctly?)
[code]

`ValueError                                Trac

[2019-03-28 22:13] ZacharyGarrett commented on #258
@aqibsaeed thank you for sharing the model you used and the steps you have already taken, they were very helpful!

It looks like `tf.keras.Model.weights` and `tf.keras.Moldel.get_weights()` are returning the weights in different order. I suspect `set_weights()` is expecting the order returned by `get_weights()`, but TFF is pulling from `.weights` parameter.

I'll look into a fix for this.

[code]

[2019-03-28 22:42] aqibsaeed commented on #258
Thank you very much!

[2019-03-29 02:56] INERKIDFYN commented on #278
@ZacharyGarrett
I have installed the tensorflow-gpu and my other codes can run on the GPU normally(as the first picture).
![捕获2](https://user-images.githubusercontent.com/42964873/55206348-17479680-5211-11e9-9045-a0840a5841fe.PNG)
My Python development environments:
![捕获3](https://user-images.githubusercontent.com/42964873/55206389-3e05cd00-5211-11e9-9a4a-9c233eeaa6cb.PNG)

[2019-03-29 13:59] moodybomber opened #281 "Tutorial "Federated Learning for Image Classification" does not work."
The code here

[federated/docs/tutorials/federated_learning_for_image_classification.ipynb](https://github.com/tensorflow/federated/blob/v0.2.0/docs/tutorials/federated_learning_for_image_classification.ipynb)

does not work, since this import does not work:
`from tensorflow.python.keras.optimizer_v2 import gradient_descent`

My conda env has the following packages:

![image](https://user-images.g

[2019-03-29 17:19] jkr26 commented on #281
Hi,

Could you please advise how you are trying to execute this notebook? If it is through a local Jupyter backend, note that this is only a supported path when TFF is built from source with Bazel; the pip package may become out of sync with the master version of the notebooks.

[2019-04-01 15:46] ZacharyGarrett commented on #258
@aqibsaeed

(**Note:** this checked-in to source, but isn't in the pip package yet. The next release will be in a week or two)

`tff.learning.framework.ModelWeights` has a new interface method called `assign_weights_to` ([api_docs](https://github.com/tensorflow/federated/blob/master/docs/api_docs/python/tff/learning/framework/ModelWeights.md)) which should be a workaround in the short term.

The c

[2019-04-01 16:32] aqibsaeed commented on #258
Sounds good! Thank you very much for the prompt action. I think this issue can be closed now.

[2019-04-01 17:30] #258 closed

[2019-04-01 21:36] ZacharyGarrett commented on #278
@INERKIDFYN

I've had a chance to replicate the setup on my local machine. Everything looks setup correctly, and the fact that 15.7 of 16 GB of memory is allocated leads to me think that TF is utilizing the GPU. Only my local machine, TF also printed copious log statements about finding a GPU device.

The current TFF reference executor is intended to ensure program correctness and is not optimized

[2019-04-01 21:36] #278 closed

[2019-04-03 07:39] moodybomber commented on #281
I am trying to interpret the code by a python installation in a conda environment on windows.
I could get the tutorial working now by:
- creating a NEW conda environment &
- explicitly using pip in that environment for the installation of tensorflow_federated

[2019-04-03 12:11] zhangxinqian opened #295 "Can TFF be simulated in distributed machines within a LAN?"
Can TFF be simulated in distributed machines within a LAN?

[2019-04-03 16:07] jkr26 commented on #281
It is possible then that there was a version conflict. If possible, could you attach the output of `conda list` in your new env?

[2019-04-04 06:01] anupamme opened #303 "Image Classification example without flattening of image array"
Hello,

I tried the mnist image classificaiton tutorial. It works. However, when I try running it without flattening of image array I keep the input shape in model creation as:

model = tf.keras.models.Sequential([
        tf.keras.layers.Dense(
          10,
          activation=tf.nn.softmax,
          kernel_initializer='zeros',
          input_shape=(28,28)
        )])

instead of (784,)

But

[2019-04-04 06:07] anupamme opened #304 "Memory blow up when using when not flattened image array"
Hello,

I am trying to use federated learning for my use case where I already have a densenet121 weights which were built on non-flattened image array as input.

So I tried following the mnist image classification example with some modifications for my use case. But when I do not flatten the image array I run into memory blow up.

Even with 2 training examples per client, my memory of 25GB runs ou

[2019-04-04 09:27] moodybomber commented on #281
The output of "conda list" in the conda env where tff is working looks like:
![image](https://user-images.githubusercontent.com/49069128/55545023-a569c400-56cc-11e9-8d35-77808d82a972.png)

[2019-04-04 20:25] jkr26 commented on #281
I just tried to repro this issue locally, was unsuccessful. Closing, since this seems to be resolved.

[2019-04-04 20:25] #281 closed

[2019-04-10 12:43] NJUPTgodB opened #326 "is it work in win10"

[2019-04-12 02:39] vonsterov opened #333 "How to train on multiple GPUs?"
Hello,
The model is created with keras, following code is tried to train on 2 gpus:

but get an error:

How to train on multiple GPUs using TFF?

[2019-04-15 00:54] GFibrizo commented on #295
I'm interested about this too.
I have been experimenting a little with federated learning and I developed a proof of concept for training a model through federated learning. In this PoC the server and the clients run each one, in a different docker container and they communicate via network.
I would like to code again this PoC, but this time using TFF. Is it possible to do that with the interfaces

[2019-04-16 21:44] jionglearningzhang commented on #251
Any suggestion if we want to have the federated learning simulated with not mobile phones but separate computers? @krzys-ostrowski

[2019-04-19 06:41] yaox12 opened #345 "Can we offer nightly pip packages?"
Recently I encounter a problem with the evaluation function in tensorflow federated,  as described [here](https://stackoverflow.com/questions/55510877/problem-with-evaluation-function-in-tensorflow-federated).

The answer below says it has been fixed in #309 and will be included in the next release.
I cannot wait for it and thus try to build the pip package from source.
The package built by me wor

[2019-04-19 17:38] krzys-ostrowski commented on #295
Hello. Thank you for interest in contributing to TFF. We are just about to start working on setting up interfaces and components to enable high-performance simulations, and as a part of that, we'll provide guidelines for how to use and extend these interfaces. Thank you for your patience. Please stay tuned for updates.

[2019-04-24 23:51] luke18 opened #361 "Using GPU produces error after upgrading to 0.4.0"
I updated TFF to 0.4.0 yesterday and found that the image classification tutorial cannot be run correctly now (which worked in previous TFF versions). After executing

state, metrics = iterative_process.next(state, federated_train_data)
print('round  1, metrics={}'.format(metrics))

The following error message occurs. I believe this problem is also partly mentioned [here](https://github.com/tensor

[2019-04-29 11:44] zhangxinqian opened #373 "Why TFF runs slowly even with only one client?"
I found TFF is extremely slow even if I only simulated with one client. In addition, when I insert tf.print() in function "def __call__(self, dataset, initial_weights)" in the class ClientFedAvg in federated_averaging.py, running the script in federated_learning_for_image_classification.ipynb will print several times in each round with only one client. But this function should be executed once in

[2019-05-02 14:09] aqibsaeed opened #386 "Support for multiple losses with tf.keras"
If I understand correctly, tf-federated only supports single loss function. Is there any timeline on when the support for multiple losses will be added?

[code]

[2019-05-03 17:57] jkr26 commented on #326
Hi,

We haven't tested anything on Windows machines, so I think we would say this is unsupported.

However, since we publish a pip package under tensorflow-federated, in theory at least this should be cross-platform.

Feel free to submit fixes for anything you may encounter deploying on Windows!

[2019-05-03 17:57] #326 closed

[2019-05-03 22:35] carlorosatiprinceton commented on #241
You have to use the bazel version corresponding to the tensor flow version listed on this page

https://www.tensorflow.org/install/source#tested_build_configurations

[2019-05-05 09:26] mlchuxueing opened #394 "machine learning"
Hello, there exists an example of a machine learning model? How do I use tff to deploy my own machine learning model? Thank you！

[2019-05-06 08:57] mlchuxueing opened #395 "AttributeError: module 'tensorflow' has no attribute 'function'"
Hello,When i execute import tensorflow_federataed as tff,there exist a error:
AttributeError: module 'tensorflow' has no attribute 'function'.
tensorflow_federated vision:  0.4.0;
python vision: 3.5;
tensorflow vision :1.13.1;
Anyone can help me solve this question?

[2019-05-06 15:55] ZacharyGarrett commented on #395
@mlchuxueing this looks like you're building TFF from source on the `master` branch; usage of `tf.function` was not part of the 0.4.0 release (was merged in f149d83399d7dc615a2efcfd5d728f4c1f706785). Is this correct?

If you'd like to continue using the source version before the next release, I believe you'll need to use `tf-nightly` TensorFlow pip package. On `master` we've moved to depend on the

[2019-05-06 15:57] ZacharyGarrett commented on #386
@aqibsaeed I'll look into how this fits with efforts and follow-up.

[2019-05-06 16:07] ZacharyGarrett commented on #241
After f765a2387c65a843371fa4c85f90df5d21b7cd8f TFF no longer builds TensorFlow from source, instead relies on the system to provide TensorFlow. @heikoludwig could you see if this is still an issue?

[2019-05-06 16:25] ZacharyGarrett commented on #303
Hi @anupamme, in general this should definitely be possible. could you provide a bit more information?

- Are you using the datasets provided by [`tff.simulation.datasets.emnist.load_data()`](https://www.tensorflow.org/federated/api_docs/python/tff/simulation/datasets/emnist/load_data)?

- Does *"without flattening"* mean skipping the reshape on **both** the `x` and `y` values in the `element_fn()

[2019-05-06 17:54] anupamme commented on #303
Yes.

So I modify that code to:

collections.OrderedDict([
            ('x', tf.reshape(element['pixels'], element['pixels'].shape)),
            ('y', tf.reshape(element['label'], element['label'].shape)),
        ])
from:
collections.OrderedDict([
            ('x', tf.reshape(element['pixels'], [-1])),
            ('y', tf.reshape(element['label'], [-1])),
        ])

Similarly I change the inpu

[2019-05-06 18:10] ZacharyGarrett commented on #303
I believe the dataset is returning the label as a scalar (e.g. `element['label'].shape == ()`), but I believe Keras is expecting it to be a Tensor with shape `(1,)`.

Perhaps try reverting back to the original code used in the tutorial for just the `y` / `label` feature? e.g.
[code]

[2019-05-06 18:20] anupamme commented on #303
I think you meant ('y', tf.reshape(element['label'], [-1]))

I tried with this and got the same error:

tensorflow.python.framework.errors_impl.InvalidArgumentError: logits and labels must have the same first dimension, got logits shape [448,10] and labels shape [16]
         [[{{node loss/dense_loss/SparseSoftmaxCrossEntropyWithLogits/SparseSoftmaxCrossEntropyWithLogits}}]]

[2019-05-06 18:43] ZacharyGarrett commented on #303
Ah, I think I misread the model initially. I don't think Keras dense layers work in the way this model is trying to use them.

The API docs for [tf.keras.layers.Dense](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense) state:

If I understand correctly, the model is transforming the input with shape `[16, 28, 28]` to `[16, 28, 10]`; then the first two dimensions are being flattened

[2019-05-06 18:43] #303 closed

[2019-05-07 04:49] Ouimoi opened #399 "How adpot other datasets"
Hi there, does the current version support other dataset customized by ourselves. The data shown in the tutorials are in HDF5 format and I have a hard time adapting mine to the pipeline.

[2019-05-07 15:48] ZacharyGarrett commented on #399
This is probably a good question for StackOverflow, where there is a `tensorflow-federated` tag. A similar question has already been asked in [Create a custom federated data set in TensorFlow Federated](https://stackoverflow.com/questions/55434004/create-a-custom-federated-data-set-in-tensorflow-federated), which might give some of the information you are looking for.

The `tff.simulation.ClientDa

[2019-05-07 15:48] #399 closed

[2019-05-07 18:37] naderagentx opened #403 "Operations performed on the communications between the server and clients"
Part of federated learning research is based on operations performed on the communications between the server and clients such as dropping part of the updates (drop some gradients describing a model) exchanged between clients and server or discarding an update from a specific client in a  certain communication round.  I want to know if such capabilities are supported by TFF framework and how they

[2019-05-08 22:48] #403 closed

[2019-05-09 15:43] shashwatsahay commented on #229
I kind of implemented a browser-based implementation of this with a flask server as backend, I don't know if it exactly meets the requirement of federated learning paradigm. Here is a process

1. Send base-untrained global neural network to the browser
2. Train the model on the server.
3. Send the model back to the server using the model.save() function
4. Aggregate the model by taking the mean of

[2019-05-11 18:43] batrlatom commented on #229
@shashwatsahay would you post it on github somewhere? I would like to take a look since I would use it in my project as well. By the way, take a look on openmined, they also have a federated learning implemented with tfjs

[2019-05-12 01:34] jkr26 commented on #304
Hi @anupamme,

Would you be able to provide a code snippet? Perhaps a link to a notebook on [Google Colab](https://colab.research.google.com)?

Reproducing this issue on our end should make it much easier to diagnose.

Thanks!

[2019-05-12 01:49] pgoldberg opened #416 "Multiple inputs with keras model?"
I'm trying to apply federated learning to an existing keras model that takes two inputs. When I call `tff.learning.from_compiled_keras_model` and include a dummy batch, I get this error: `ValueError: Layer model_1 expects 2 inputs, but it received 1 input tensors. Inputs received: [<tf.Tensor 'packed:0' shape=(2, 20) dtype=int64>]`.

The model accepts two numpy arrays as inputs, so I defined my du

[2019-05-12 12:28] shashwatsahay commented on #229
@batrlatom hey I will post the code in my public repository, I have looked at the openmined project, I didn't know they have already implemented the federated learning in the syftjs.

[2019-05-12 17:55] anupamme commented on #304
Hello!

Follow these steps:

1. Clone https://github.com/anupamme/CheXpert-Keras
2. Install requirements.txt (some of the packages are not required for the federated code but it is easier to just install all)
3. python3.7 federated.py

Within few mins (10-15 mins) federated.py will consume all the memory. In my last execute my RAM was ~ 12G. However, I have earlier tested it on higher RAM (25G) as

[2019-05-13 00:29] jkr26 commented on #304
Here is a colab repro of the essentials; we'll look into the internals this week:

https://colab.research.google.com/drive/1_CxFUFinhX8jLWCreS642aophu6nRWJw

[2019-05-13 01:34] wangyixu14 opened #418 "Error tf.keras.losses"
Hello, i am trying with the tutorial of image classification when I met the error which said "keras.losses' has no attribute 'SparseCategoricalCrossentropy'". How to fix it? Is that a problem of version of my tensorflow?
Another question is that how many kinds of loss functions does tff support?
Thank you in advance!

[2019-05-13 01:39] wangyixu14 commented on #418
BTW, my tf version is 1.13.1 and my keras is 2.2.4

[2019-05-13 02:26] ZacharyGarrett commented on #418
The tutorials are versioned and must be paired with the appropriate TFF release.

The current release is `0.4.0`; the associated tutorial for image classification is viewable in Colab at:
https://colab.research.google.com/github/tensorflow/federated/blob/v0.4.0/docs/tutorials/federated_learning_for_text_generation.ipynb

It sounds like the notebook you're using is from the `master` branch (the cha

[2019-05-13 04:00] jkr26 commented on #416
@pgoldberg,

This is definitely something we can take a look at. Attaching a colab with a repro and some quick investigation, and assigning myself.

Colab:

https://colab.research.google.com/drive/1E7VS3AXICnwmcHXwYum5avh_8K_oLuFy

[2019-05-13 07:32] wangyixu14 commented on #418
I tried with the pip package from source but failed with the Bazel which seems hard to solve in another issue. Is there any other loss functions to replace with? Such as "keras.losses.CategoricalCrossentropy()"? Another question is that when I tried with "optimizer=tf.keras.optimizers.SGD(lr=0.02)", an error occur saying "'SGD' object has no attribute 'variables'". Then I wrote "optimizer=''sgd" a

[2019-05-13 14:08] ZacharyGarrett commented on #418
@wangyixu14 it wasn't clear if you were able to use the released version of the notebooks? If you don't want to troubleshoot building the pip package from source, the only other supported route is to use the released version of the notebook (currently at git tag `v0.4.0`). Link to colab:
https://colab.research.google.com/github/tensorflow/federated/blob/v0.4.0/docs/tutorials/federated_learning_for

[2019-05-13 15:44] michaelreneer commented on #345
@yaox12 Thanks for the feedback, publishing a nightly pip package is on our minds as well. It's good to know there would be demand. It also sounds like you did try and build the GPU pip package? Can you share your error message? Maybe I can help unblock you there short term.

[2019-05-14 04:42] yaox12 commented on #345
@michaelreneer It is exactly the same error as described in #361.
I have run the TFF tutorial code in [Colab](https://colab.research.google.com/drive/1joRyTabr9Euvj7eDJmTWE67jnpJmk6nM) (It is editable for convenience).
It works well when the runtime is set to CPU but occurs the above error using GPU.

[2019-05-14 12:20] raghu20ram commented on #229
hi @shashwatsahay that's great !! , did you post the code on github? If so can you shall the repo name? I just want to have a look at the code. I tried running the PAIR code federated TFJS but that does not work. TIA

[2019-05-15 07:01] wangyixu14 commented on #418
Thank you. Your suggestion works well. What should I do if I want to try the tff with other image datasets for the classification?

[2019-05-15 12:44] wangyixu14 commented on #418
Also, when I try build the pip package from source with bazel(0.25.2, system: ubuntu 16.04), an error occured as follows:
ERROR: error loading package 'tensorflow_federated/proto/v0': Encountered error while reading extension file 'protobuf.bzl': no such package '@com_google_protobuf//': Traceback (most recent call last):
	File "/home/SENSETIME/wangyixuan2/.cache/bazel/_bazel_SENSETIME\wangyixuan2

[2019-05-15 14:22] ZacharyGarrett commented on #418
How to create a custom federated dataset is discussed in this stack overflow question:
https://stackoverflow.com/questions/55434004/create-a-custom-federated-data-set-in-tensorflow-federated

Sounds like the original issue of keras loss objects not being found has been resolved. I'm closing this issue, but  could you please open a new issue for building the pip package and include (the first two y

[2019-05-15 14:22] #418 closed

[2019-05-15 15:44] krzys-ostrowski commented on #394
Hi. It depends on what exactly you mean by "deploy". If you are thinking of having your model run and be collaboratively trained on physical devices (Is this what you had in mind?), the current version of TFF does not offer dedicated mechanisms for this. The current focus is on simulations and research.

[2019-05-15 15:53] krzys-ostrowski commented on #373
Hi. The runtime we initially included is minimal - it was originally intended primarily for testing and small-scale experiments. Support for higher-performance simulations is coming. This is not to say we cannot make the reference runtime faster if we can. We have not invested much in trying to memoize or cache things to avoid repeated calls like those you described. Perhaps you can help by postin

[2019-05-15 16:03] krzys-ostrowski commented on #229
Hi. Unfortunately, there doesn't appear to be anything actionable here at the moment, and we can't make specific promises regarding .js, so I'm going to close this issue. If you have an idea for a specific contribution to TFF, please open a separate thread. Thank you!

[2019-05-15 16:03] #229 closed

[2019-05-15 16:06] krzys-ostrowski commented on #251
Hi. Unfortunately, we can't make any specific promises at the moment regarding support for deployment to physical devices.

[2019-05-15 16:06] #251 closed

[2019-05-15 16:06] #252 closed

[2019-05-15 16:11] krzys-ostrowski commented on #268
Unfortunately, we cannot elaborate or make any specific promises in this area.

[2019-05-15 16:11] #268 closed

[2019-05-15 16:12] #295 closed

[2019-05-15 17:06] jkr26 commented on #416
Peter, see [this commit](https://github.com/tensorflow/federated/pull/431/commits/1a87f07eb65962ce300ddfc0f5b96e54468cca24); it should contain the bugfix that you need.

[2019-05-15 17:09] pgoldberg commented on #416
Thank you!

[2019-05-15 17:09] #416 closed

[2019-05-16 00:52] mlchuxueing commented on #394
Okay thank you! In addition, I would like to ask, can I simulate k-means, GBDT, xgboost algorithm on tff?

[2019-05-16 00:53] mlchuxueing commented on #395
Okay， thank you!

[2019-05-16 03:46] zhangxinqian commented on #373
Thanks for the reply!
For federated_learning_for_image_classification tutorial, set NUM_CLIENTS = 1 and insert tf.print("call ClientFedAvg") at the beginning of function "def call(self, dataset, initial_weights)" in the class ClientFedAvg in federated_averaging.py. Then I run the tutorial and get the following results:
call ClientFedAvg
call ClientFedAvg
call ClientFedAvg
round  0, loss=<loss=3.11

[2019-05-16 14:13] shashwatsahay commented on #229
Just a last comment I have posted the stripped of version of my code in my public repository https://github.com/shashwatsahay/pyjs_federated_learning , I couldn't post the code from the actual project due to various reasons. Hopefully this helps you in expanding your own project

[2019-05-16 16:11] #395 closed

[2019-05-17 08:13] AbbasiAYE opened #448 "Issue of AssignAddVariableOp"
Hello,

I'm using TFF, and I've been many errors. I tried to fix, but this error is a bit difficult. Your help is very much appreciated. I posted the code Traceback below, please let me know if I need to post other things.

Your help is most appreciated

Code:
======================================================
Outputs = tf.convert_to_tensor(np.random.rand(50,1))
        input1  = tf.convert_to

[2019-05-17 12:56] wangyixu14 commented on #333
Could I know if you have succeed in using on single GPU to train the TFF project? It seems that TFF doesn't support GPU training right now?

[2019-05-17 16:03] ZacharyGarrett commented on #448
@AbbasiAYE

It looks like when compiling the Keras model, the `tf.keras.losses.mse` function provided is not reducing the batch dimension ([API docs](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/mean_squared_error?hl=en)). Just before compilation, the code defines a new method `loss_fn` that does the reduce. Could you try using this in the compile call?

When writing federated learn

[2019-05-18 03:48] japrogramer opened #452 "[Question] Will this support the tensorflow 2.0 Api"
When the API for 2.0 is finalized .. will this repo also support 2.0?

[2019-05-19 10:53] AbbasiAYE commented on #448
Thanks @ZacharyGarrett

I think you were right. If I remove the loss function, and NOT compile the model, then use tff.learning.from_keras_model (instead of from_compiled_keras_model) as a federated model in build_federated_averaging_process the process works fine. However, if I add any loss function and compile before passing to federated, then the same error occurs. BTW, as you suggested above,

[2019-05-20 09:11] vonsterov commented on #333
@wangyixu14  I can train TFF model with one single GPU with TFF 0.2.0. However, the GPU utilization is not high, it will be idle periodically.
I also tried it with 0.4.0 but failed.

[2019-05-20 15:35] ZacharyGarrett commented on #448
As mentioned previously, `tf.keras.losses.mse` is not reducing the batch dimension, which is necessary to compute a scalar loss (this is what `loss_fn` is doing). If I remember correctly, Keras will do this for you if you use `loss='mse'` or `loss=tf.keras.losses.MeanSquaredError()` when calling `compile()`.

It appears this is not a TFF issue, but a Keras usage issue so I'm going to close. If you

[2019-05-20 15:35] #448 closed

[2019-05-20 15:50] ZacharyGarrett commented on #452
Yes, TF2.0 support is planned for TFF; though the support may not be available immediately when the TF2.0 API is finalized.

TFF already works with eager mode and function semantics. Examples: most of the unittests in the [tensorflow_federated/python/learning](https://github.com/tensorflow/federated/tree/master/tensorflow_federated/python/learning) directory are all using eager mode and `tf.functi

[2019-05-20 15:50] #452 closed

[2019-05-24 05:24] anupamme commented on #304
@jkr26 any update on this?

[2019-05-24 05:54] Squadrick commented on #386
@ZacharyGarrett I'd love to take a crack at this.

[2019-05-24 09:55] mlchuxueing opened #470 "The performance of the algorithm in tff is much lower"
Hello，
When I use the logistic regression algorithm to perform the two classification task on tff, the performance of the training is reduced compared to using only the logistic regression algorithm. What is the reason? I just divided a large data set into several small data sets. They have the same feature. Below is my result. Can you tell me why?
in tff:  accuracy=0.55
only logisitic regression:

[2019-05-24 15:44] ZacharyGarrett commented on #386
@Squadrick thank you, we'd really appreciate any contribution!

A few notes on things we anticipated may need to be changed (there could definitely be more...):

- [`BatchOutput.loss`](https://github.com/tensorflow/federated/blob/master/tensorflow_federated/python/learning/model.py#L27 ) needs to be updated (at least the pydoc) to explain it is the "total loss"
- [`tff.learning.from_keras_model`](

[2019-05-24 16:03] ZacharyGarrett commented on #470
This question likely is better suited for StackOverflow, possibly with the [`tensorflow-federated` tag](https://stackoverflow.com/questions/tagged/tensorflow-federated); there are a large number of factors that could be contributing to this behavior.

In the StackOverflow question I would suggest providing additional details (showing actual code can also help), including details about: how were th

[2019-05-24 16:03] #470 closed

[2019-05-25 16:14] fanlai0990 commented on #394
Hi, I am wondering whether there is a way to deploy tff across multiple physical devices (e.g., VMs), like the one used in the [paper](https://www.sysml.cc/doc/2019/193.pdf) (SysML'19). Or, the only way is to use tf instead? Thanks!

[2019-05-26 19:06] Squadrick commented on #386
@ZacharyGarrett Thanks for the help, I'll get started.

[2019-05-27 13:07] alicelh opened #481 "how to print local outputs?"
How can I get local outputs in the tutorial federated_learning_for_image_classification?

[2019-05-27 17:09] ZacharyGarrett commented on #481
This doesn't sound like a code issue. Rather, would you mind asking this "how to use" question at https://stackoverflow.com/questions/tagged/tensorflow-federated? That way the community and future users with a similar question can benefit.

[2019-05-27 17:09] #481 closed

[2019-05-28 03:44] ZacharyGarrett commented on #481
@alicelh, thanks for posting to StackOverflow!

[2019-05-28 08:47] amitport opened #482 "[bug] failure with sgd tests (v0.4.0)"
I'm getting `AttributeError: 'RefVariable' object has no attribute 'handle'` while trying to run `test_execute_empty_data` from `federated_sgd_test.py` (either through bazel, or manually, by repeating the code in a project that uses `tff@0.4.0` (`tf@1.13.1`). Any help would be great (related to https://stackoverflow.com/questions/56215147/can-i-aggregate-over-gradients-in-tensorflow-federated)

Th

[2019-05-28 09:44] mlchuxueing opened #483 "About the server"
Hello, I would like to ask, there is no data training on the server side, but the server will merge the models of each client and update based on FedAvg algorithm, then the model I got is the final server model? Moreover, how do I get the client model?

[2019-05-29 01:30] AbbasiAYE opened #493 "Results cannot improve by rounding (.next): Federated TF"
Hello

I'm trying to compare federated learning TF with keras fitting, as we see below. However, the results of TFF does not improve by rounding. Also, when I set weight a local model based on the TFF model, I get worse results than normally training the model on keras. The Loss results are mentioned after the code.

Thanks for the help.

Regards

# Code:
tf.compat.v1.enable_v2_behavior()

TobeRem

[2019-05-29 05:56] #482 closed

[2019-05-29 06:51] amitport opened #494 "cannot install v0.5.0"
that version is not in pypi and trying to install via `pip install -e git://github.com/tensorflow/federated.git@v0.5.0#egg=tensorflow_federated`

(seems to be missing root setup.py) (using windows)

produces
[code]

[2019-05-29 07:01] amitport commented on #494
closing this as 0.5.0 was just published to pypi

[2019-05-29 07:01] #494 closed

[2019-05-29 18:46] ZacharyGarrett commented on #493
It appears this model is not training even without federation, I believe the following lines show the loss during non-federated training,:

[code]

The loss does not appear to be decreasing:

[code]

TFF only extends local training to the federated setting; we would be very surprised if a model that will not train locally was trainable in the federated setting. Closing this as not a TFF issue.

I'

[2019-05-29 18:46] #493 closed

[2019-05-30 18:36] #386 closed

[2019-05-31 15:32] michaelreneer commented on #333
Currently the GPU architecture is failing to build. @krzys-ostrowski might be able to provide more insight.

[2019-05-31 15:34] michaelreneer commented on #241
I'm going to close this issue @heikoludwig please reopen if you discover this is still an issue.

[2019-05-31 15:34] #241 closed

[2019-05-31 15:37] michaelreneer commented on #345
@yaox12 the GPU build is failing right now.

Duplicate of #361

[2019-05-31 15:37] #345 closed

[2019-05-31 15:38] michaelreneer commented on #333
Duplicate of #361

[2019-05-31 15:38] #333 closed

[2019-05-31 15:40] jkr26 commented on #304
Hi @anupamme

Haven't had the time to look into this yet, but we haven't forgotten.

Thanks for your interest!

[2019-05-31 15:43] michaelreneer commented on #483
@mlchuxueing Thanks for your interest in Tensorflow Federated! This is a great question, could you please re-direct your question to [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow-federated)?

[2019-05-31 15:43] #483 closed

[2019-06-01 02:13] AbbasiAYE opened #521 "SGD issue"
Hello,
I'm getting this error when passing the optimizer to the federated averaging. any help?
I've made sure that the corresponding local model works.

**### Code:**
`def create_SK_model():
    modelF = tf.keras.Sequential([tf.keras.layers.Dense(SNN_Layers[0],activation=tf.nn.relu,input_shape=(Act_Inputs.shape[1],), kernel_initializer='RandomNormal'),
                                  tf.keras.la

[2019-06-01 09:02] #521 closed

[2019-06-01 16:51] AbbasiAYE commented on #258
Hello
I followed the above discussion on keras models with batch_normalization, this is the relevant part of the code:
[code]

I appreciate the help with the following error:
[code]

[2019-06-01 18:50] AbbasiAYE opened #522 "Follow up on #258 TFF with BatchNormalization"
Hello
I followed the discussion on #258 about keras models with batch_normalization, this is the relevant part of the code:

[code]

I appreciate the help with the following error:

[code]

[2019-06-04 00:32] jinhw1989 opened #534 "Why the evaluation on test using the sample_clients from training in the EMNIST tutorial?"
I went through the EMNIST tutorial https://www.tensorflow.org/federated/tutorials/federated_learning_for_image_classification
, but found the problem in the evaluation section:

The `federated_test_data` is generated from `sample_clients`, while the `sample_clients` comes from the training set

NUM_CLIENTS = 3
__sample_clients__ = __emnist_train__.client_ids[0:NUM_CLIENTS]
federated_train_data = m

[2019-06-05 03:04] ZacharyGarrett commented on #534
This is by design; from the [documentation](https://www.tensorflow.org/federated/api_docs/python/tff/simulation/datasets/emnist/load_data) for `tff.simulation.datasets.emnist.load_data()`:

So the while the evaluation is processing the same clients, it is not processing the same examples.

As you suggest, holding out entire *clients* (instead of *examples*) definitely seems reasonable and is an al

[2019-06-05 03:04] #534 closed

[2019-06-05 03:19] ZacharyGarrett commented on #522
I believe the code should skip the call to `tff.learning.keras_weights_from_tff_weights()`. Instead, just call `assign_weights_to()` from the `FLstate.model`. Something like:

[code]

This seems like it might be a better question for StackOverflow using the [tensorflow-federated] tag?

[2019-06-05 12:47] AbbasiAYE commented on #522
Thanks for the response.

1. I have no idea how to differentiate between a question for StackOverflow or TFF forum.
2. At first I had problem with the installation, that is why the above error occurred. Then after fixing that, now I get another error as below:

Traceback (most recent call last):
[code]
Thanks for the support

[2019-06-05 15:18] ZacharyGarrett commented on #522
For (1): its not always clear to us initially either, but its totally okay to move a question/issue from one to the other. Generally, questions about *how to use* TFF might better go on StackOverflow, especially when someone else may have the same question and would benefit from finding previous answers (preserved by StackOverflow). When a GitHub issue is closed, its not always easy to rediscover

[2019-06-06 09:38] AbbasiAYE commented on #522
Apologies for the lengthy discussion, now I'm using :

[code]

and got this error now:

[code]

I tracked the error it seems that in keras_utils have a problem with the tff.weights type, in the below function:

[code]

I checked the type of tff_weights and model_utils.ModelWeights:

[code]

Do you think its related to the definition of the model?

[code]

[2019-06-06 14:23] ZacharyGarrett commented on #522
It looks like the code has the argument order flipped. `tff.learning.assign_weights_to_keras_model(keras_model, tff_weights)`  takes the local Keras model as the first argument, similar to the first code snippet I posted. The API docs are [here](https://www.tensorflow.org/federated/api_docs/python/tff/learning/assign_weights_to_keras_model).

Could you try flipping the order?

[2019-06-06 15:38] ZacharyGarrett commented on #361
We believe GPU support may be working again in release `0.5.0`, would you try upgrading?

[2019-06-06 21:00] AbbasiAYE commented on #522
Thanks a lot Zachary, I feel a shame for not identifying such basic error.

[2019-06-06 21:00] #522 closed

[2019-06-10 20:35] AbbasiAYE opened #553 "Tensorflow Federated performance issues"
Hi,

I know that this might/might not be the right place for posting about performance degradation of the TFF model performance comparing to single keras model. However, I post a detailed question on stackOverflow (below is the link) without any reesponse. Hence, I'd greatly appreciate the help.

https://stackoverflow.com/questions/56514398/why-the-tensorflow-federated-performance-is-worse-than-si

[2019-06-17 07:43] ProfXGiter opened #578 "Cannot use GPU to train in 0.5.0"
My enviroment :
    RedHat Linux 7.2
    gcc 4.8.5
    nvidia-driver : 410.48
    cuda : 10.0
    cudnn: 7.5
    python2.7.5
    tf-nightly-gpu==1.14.1-dev20190604
    tensorflow_federated==0.5.0

When I use the example: federated_learning_for_image_classification.ipynb.
I change the model
    `model = tf.keras.models.Sequential([
           tf.keras.layers.Dense(
          10, activation=tf.nn.so

[2019-06-17 14:11] ZacharyGarrett commented on #578
Could you try training the Keras model without an TFF and see if the same error is raised? i.e. call `model.fit()` without using any of the `tff.learning` modules.

[2019-06-18 02:21] ProfXGiter commented on #578
I run model.fit(), it is OK.
And I also run the mnist example in tf:
`# -*- coding: utf-8 -*-

import tensorflow as tf
from tensorflow.examples.tutorials.mnist import input_data
from tensorflow.python import layers
from tensorflow.python import nn

mnist = input_data.read_data_sets("./MNIST_data/", one_hot=True)
sess = tf.InteractiveSession()

x = tf.placeholder(tf.float32, [None, 784])
y_ = tf.pl

[2019-06-21 20:42] jkr26 commented on #304
Finally got around to looking at this. It seems that it no longer repros; there's no problem training these models now. This may have been an issue in the dependencies that has been solved in the meantime. Closing, everything should work now.

[2019-06-21 20:42] #304 closed

[2019-06-23 10:33] AbbasiAYE opened #593 "Federated with KerasRegressor?"
Hello

I'm trying to get my model of KerasRegressor working with TFF framework. But it seems that "tff.learning.from_compiled_keras_model" does not accept it, right?. My main aim is to differentiate between federated on both regression problem and classification problem.

This is my relevant part of the code:

[code]

My main problem is how to incorporate the Regression/classfiication problem into

[2019-06-23 14:00] ZacharyGarrett commented on #593
[`tff.learning.from_keras_model`](https://www.tensorflow.org/federated/api_docs/python/tff/learning/from_keras_model) and [`tff.learning.from_compiled_keras_model`](https://www.tensorflow.org/federated/api_docs/python/tff/learning/from_compiled_keras_model) support (and require) the [`tf.keras.Model`](https://www.tensorflow.org/api_docs/python/tf/keras/Model?hl=en) interface. Both regression and c

[2019-06-23 14:00] #593 closed

[2019-06-25 10:08] le0tan opened #609 "tff tutorial notebooks are broken"
For text generation, it would stuck on
[code]
with error message
[code]
However on my machine the error is different, I can build the averaging process, but would stuck on the next step:
[code]
with error message
[code]

Similarly, the notebook for image classification doesn't work as well.

[2019-06-25 11:11] RansSelected commented on #231
Hi!

The error **"ImportError: cannot import name 'computation_pb2'"** still appears when running
`python -c "import tensorflow_federated as tff; print(tff.federated_computation(lambda: 'Hello World')())"`

even after installation of TF Fedefrated via Bazel. At the same time running
` bazel test tensorflow_federated/python/examples/mnist:models_test`
performs well, with no error.

Specs:
MacOS Sie

[2019-06-25 11:13] RansSelected opened #610 "The error "ImportError: cannot import name 'computation_pb2'" still appears"
Hi!

The error "ImportError: cannot import name 'computation_pb2'" still appears when running
python -c "import tensorflow_federated as tff; print(tff.federated_computation(lambda: 'Hello World')())"

even after installation of TF Federated via Bazel. At the same time running
bazel test tensorflow_federated/python/examples/mnist:models_test
performs well, with no error.

Specs:
MacOS Sierra 10.12

[2019-06-25 13:32] le0tan commented on #609
I did a type-casting in this function and it runs on my machine:
[code]

[2019-06-25 16:24] afaf-taik opened #611 "AttributeError: module 'tensorflow._api.v1.data.experimental' has no attribute 'NestedStructure'"
Hello,
I was able to run my code just 2 days ago on colab, but now I can't because of this error AttributeError: module 'tensorflow._api.v1.data.experimental' has no attribute 'NestedStructure' . The error is related to tff.learning.build_federated_averaging_process(model_fn).
 What is the source of this problem ?
Thank you

[2019-06-25 16:51] jkr26 commented on #609
Hi @le0tan

Yes, you are definitely correct--[this](https://github.com/tensorflow/tensorflow/commit/1d29b5c344c63379a1a8587d52210267352c6911) change causes TFF's PIP package to be out of sync with TF-nightly.

TFF needs to do a release to sync these back up. We could alternatively pin to a fixed tf-nightly, but this has been decided against for the time being.

In the meantime, as you noticed, you

[2019-06-25 16:51] #609 closed

[2019-06-25 16:52] jkr26 commented on #611
Duplicate of #609

Thanks!
Keith

[2019-06-25 16:52] #611 closed

[2019-07-01 15:57] ZacharyGarrett commented on #610
One hypothesis is that this error is seen when running `python -c "import tensorflow_federated as tff; print(tff.federated_computation(lambda: 'Hello World')())"` in the root directory of the git repository. This might result in `import tensorflow_federated` importing from `./tensorflow_federated/__init__.py` instead of the pip package.

Could you verify whether the "hello world" test works from a

[2019-07-01 21:00] aqibsaeed commented on #386
Now I am getting this error:
[code]
What might be an issue now?

[2019-07-01 22:07] ZacharyGarrett commented on #386
Without more information its hard to tell where this error is coming from. Could you open a new issue with:

- Environment (TFF version, TF version, OS, etc)
- A minimal example code that generates the AttributeError

[2019-07-08 18:13] ZacharyGarrett commented on #553
Hypothesis (hyperparameter tuning) and potential solution are described on StackOverflow.

[2019-07-08 18:13] #553 closed

[2019-07-09 09:05] llhuii commented on #373
After dividing into this problem, `client_outputs.__getattr__` was called by three times in `run_one_round_tff` in optimizer_utils.py: `client_outputs.weights_delta_weight`, `client_outputs.weights_delta`, and `client_outputs.model_output`, so `ClientFedAvg` was evaluated by three times.

[2019-07-10 17:12] bsabri commented on #610
I had the same issue. When I changed the directory. The "Hello world" worked! Thanks

[2019-07-10 22:43] ZacharyGarrett commented on #610
Thanks for confirming @bsabri!

[2019-07-10 22:43] #610 closed

[2019-07-11 10:34] amitport opened #677 "front page example does not run"
hi,

I've installed tensorflow-federated and tried to run the main short example in https://www.tensorflow.org/federated

it fails because from `tensorflow_federated.python.examples` does not seem to be included in the published version

(I think the example should be updated in a way that makes it immediately runnable after tff install)

[2019-07-12 05:48] krzys-ostrowski commented on #677
Sorry for that, please try this: https://github.com/tensorflow/federated/releases/tag/v0.7.0

[2019-07-12 06:58] amitport commented on #677
works with tff@0.7.0 (and python 3.7)
thanks!

[2019-07-12 06:58] #677 closed

[2019-07-19 13:30] katarina-cavar opened #709 "Unsuccessfully running tensorflow federated "Hello world" example"
Hello,

I am trying to set up tensorflow federated environment on python 3.6, but can't manage to run the following recommended instruction from https://www.tensorflow.org/federated/install :
python3 -c "import tensorflow_federated as tff; tff.federated_computation(lambda: 'Hello World')()"

The return message that I get is:
WARNING: Logging before flag parsing goes to stderr.
W0719 10:34:39.39422

[2019-07-19 13:33] katarina-cavar commented on #709
Oops sorry for the ugly issue, I didn't realize it will get this ugly.

[2019-07-22 11:06] bugua0615 opened #717 "Can't be installed in Macos"
Fail in "pip install tensorflow_federated".
The system is Macos 10.14.5 .
Get the:
running setup.py clean for grpcio
Failed to build grpcio
Installing collected packages: grpcio, tb-nightly, tf-nightly, tensorflow-federated
  Found existing installation: grpcio 1.22.0
    Uninstalling grpcio-1.22.0:
      Successfully uninstalled grpcio-1.22.0
  Running setup.py install for grpcio ... error
    ER

[2019-07-23 06:40] niklausliu opened #724 "Can't run the result of "hello world""
I have installed all the dependent function packages, and I have not reported an error, but I have been running for no results.

[2019-07-23 06:44] hdliuyi commented on #724
/home/liuyi/venv/bin/python3.6 /home/liuyi/PycharmProjects/FL_images/fl_minst.py
WARNING: Logging before flag parsing goes to stderr.
W0723 15:41:17.035517 140592739182400 lazy_loader.py:50]
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://githu

[2019-07-24 17:56] jkr26 commented on #724
Hi @hdliuyi,

Could you give some more detail? In particular, what command you are running, the output of pip freeze in your environment, and the code you are trying to execute? Also, are you building TFF from source or installign the pip package?

[2019-07-29 13:04] YuriWu opened #737 "Inconsistent args order in the doc of assign_weights_to_keras_model"
In the documentation, the order of args in `tff.learning.assign_weights_to_keras_model` is `(state.model, keras_model)`, where `state.model` comes first:

- https://github.com/tensorflow/federated/blob/master/docs/api_docs/python/tff/learning/assign_weights_to_keras_model.md
- https://www.tensorflow.org/federated/api_docs/python/tff/learning/assign_weights_to_keras_model

But I found the usage sho

[2019-07-29 16:36] #737 closed

[2019-07-29 23:05] lc0 commented on #724
Just tested on fresh env in conda and it works fine. Output is a bit noisy but the last line is actually `Hello world`

@hdliuyi are you sure, that you do not get the last line as expected?

[2019-07-30 05:00] hdliuyi commented on #724
I am building TFF by installing the pip package. Actually, I can not run the code to output "hello world", but I can run other codes, for example, TFF_CNN. Very strange!!!

[2019-07-30 05:01] hdliuyi commented on #724
Yes, sure. I can not run the code to output 'hello world'.

[2019-07-30 05:06] hdliuyi commented on #724
My code as follow:
from __future__ import absolute_import, division, print_function

import collections
import warnings
from six.moves import range
import numpy as np
import six
import tensorflow as tf

warnings.simplefilter('ignore')

tf.compat.v1.enable_v2_behavior()

import tensorflow_federated as tff

np.random.seed(0)

NUM_CLIENTS = 10

# NOTE: If the statement below fails, it means that you

[2019-07-30 05:07] hdliuyi commented on #724
My code as follow:
`from __future__ import absolute_import, division, print_function

import collections
import warnings
from six.moves import range
import numpy as np
import six
import tensorflow as tf

warnings.simplefilter('ignore')

tf.compat.v1.enable_v2_behavior()

import tensorflow_federated as tff

np.random.seed(0)

NUM_CLIENTS = 10

if six.PY3:
  tff.framework.set_default_executor(

[2019-07-30 12:14] lc0 opened #740 "Python module version"
In python there is standardized way to communicate a version of the package from the package itself https://www.python.org/dev/peps/pep-0396/

TensorFlow also complies with this standard and provides a version within `tf.__version__`

[2019-07-30 19:48] lc0 commented on #724
@niklausliu can you print your pip freeze or even directly in notebook

[code]

[2019-07-31 22:35] lc0 opened #741 "TF 2.0 migration"
Any plans to migrate to support 2.0?

From contrib side, I can see package failing on `tf.contrib.image`, where some functionality like `angles_to_projective_transforms` a well as `translations_to_projective_transforms ` and `compose_transforms` are already supported by [tf/addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/image)

So if you are interested, I can migrate th

[2019-08-05 16:48] jkr26 commented on #724
From looking at the snippet above, are you running this in a ipython notebook, or as a Python script? If as a Python script, is it possible that the string `'Hello, World!'` is being returned inside the script, but not printed? If so, simply inserting a print statement on the last line should resolve this issue.

[2019-08-08 06:25] jqin4749 opened #743 "Unable to run Image classification example"
I am running the image classification example on my local computer with Python3.5.1, tensorflow 1.4.1 and tensorflow-federated 0.7

I used the exact same codes and the following error occurs at `iterative_process = tff.learning.build_federated_averaging_process(model_fn)`

the following the Error trace:
`TypeError                                 Traceback (most recent call last)
<ipython-input-11-

[2019-08-08 15:07] ZacharyGarrett commented on #743
`tensorflow-federated v0.7.0` may not be compatible with `tensorflow v1.14.1`. The table of TFF and TF compatibility is here: https://github.com/tensorflow/federated#compatibility

Could you try uninstalling the `tensorflow` pip package and install `tf-nightly` with version `1.15.0.dev20190711` or newer?

[2019-08-09 06:10] jqin4749 commented on #743
Thanks! I solved tihs by using python3.7.

[2019-08-09 06:10] #743 closed

[2019-08-12 01:55] klize opened #744 "Cannot use with tf-nightly-gpu"
Here are my installation steps

machine:
cuda 10.0
cuDNN v7.5

1. activate virtualenv with python 3.5.2,
2. install tensorflow_federated from pip command
    -> successfully finished with learning on cpu
3. remove tf-nightly and install tensorflow-gpu
    -> got an error; dataset_or_iterator must be a Dataset or Iterator object.
4. install tf-nightly-gpu
    -> Things seems to work well, but it te

[2019-08-12 16:00] jkr26 commented on #744
Hi @klize,

It does seem that upgrading cuDNN is your best bet. TFF develops close to tf-nightly internally, and this can cause issues when using a released version of tensorflow (the `dataset_or_iterator` error is one such issue; TFF uses variant tensors to represent `tf.data.Datasets`, as in `tf.data.experimental.to/from_variant`).

This means that the best bet for a TFF power user is to always

[2019-08-12 16:00] #744 closed

[2019-08-13 15:00] ohnoholly commented on #717
Have the same problem here. Failed to install with Anaconda on MacOS.

[2019-08-13 16:04] jkr26 commented on #724
Closing, assuming this was lack of a print statement. Feel free to reopen if that wasn't the case.

[2019-08-13 16:04] #724 closed

[2019-08-13 16:06] ZacharyGarrett commented on #717
grpc/grpc#19646 indicates we need to update the `grpcio` version, I'll take a look at this.

[2019-08-13 16:25] ZacharyGarrett commented on #717
Could one of your try building TFF with the new requirements and seeing if this has fixed your issue?

https://github.com/tensorflow/federated/blob/master/docs/install.md#build-the-tensorflow-federated-pip-package

[2019-08-14 16:23] #740 closed

[2019-08-15 02:17] anupamme commented on #578
Hello!

I am experiencing the same issue with version 0.7.0 and tf-nightly-gpu (gpu)

And it works just fine with tf-nightly (cpu)

@ZacharyGarrett if we use model.fit instead of tff.learning, is that a workaround for now?

Or do we have to wait for some sort of fix here?

[2019-08-18 18:04] dionman opened #745 "DP-FedAvg and DP-FedSGD"
Is there an implementation of DP-FedAvg and DP-FedSGD available/to be added?

[2019-08-21 11:18] JKbasara opened #747 "Need help for "federated_learning_for_text_generation""
when run the line "state, metrics = fed_avg.next(state, [example_dataset.take(1)])"

I got this error:
TypeError: The tensor type int64[8,100] of the value representation does not match the type spec int32[?,100].

How to solve it?

Thx first~~~

[2019-08-21 16:33] kairouzp commented on #745
TF Privacy is designed to be compatible with TFF.  Integrating these two should be easy, and we are going to do it very soon.

[2019-08-21 21:54] jkr26 commented on #747
Hi @JKbasara,

I think our best bet here is some version mismatch--so can we get some more detail on a few things?

First, how are you running this code? Is it in a hosted colab runtime (e.g. in a browser on colab.sandbox.google.com), a local jupyter notebook, or as a standalone python script?

Second, can you give the versions of all the python packages in the runtime you are using? E.g. if you'r

[2019-08-22 02:18] JKbasara commented on #747
Thank you! Keith
I got your idea~~~

Im a graduate student and our team are trying to use TFF for a project research.
All my codes run above the environment of **Win10 and Visual Studio 2019**.
These are my python packages:

![image](https://user-images.githubusercontent.com/4019752/63480094-33e7b200-c4c3-11e9-9b52-4e6d337ec409.png)

all packages list:
![image](https://user-images.githubuserconten

[2019-08-22 05:03] klize commented on #745
@kairouzp
Then is it impossible to use optimizers such as DPGradientDescentGaussianOptimizer() with tf.keras yet?

Actually I tried to do this thing like below but it falis with the error; 'TFOptimizer' object has no attribute 'variables'
[code]

[2019-08-22 05:59] zzhu2019 opened #748 "The official document should be updated"
Hi there,

I got a bug that the `tff.utlis.get_variables()` function cannot be found under [python/core/utils/tf_computation_utils.py](http://github.com/tensorflow/federated/tree/master/tensorflow_federated/python/core/utils/tf_computation_utils.py) which confused me a lot. After I accessed the directory to check the tf_computation_utlis.py file, I found that `tff.utlis.get_variables()` has been c

[2019-08-22 07:12] JKbasara commented on #748
And the version of TFF should be updated too. The document said the version is 0.7.0, but the current version for demo is 0.8.0 these days.

[2019-08-22 08:33] yangchengtest opened #749 "Is there any schedule to support tflite?"
In my mobile devices,the models are optimized by ncnn or tflite.
I want to know how can I use federated learning by the original models.
Thanks.

[2019-08-22 20:52] JJJJJamie opened #751 "Memory blows up using CNN model with multiple clients"
I tried to implement the tutorial of federated image classification with a CNN model, but it turns out that while I set the client number to 100, each round of training takes up about 16 Gb of memory and it stacks on after each round.  I am not sure that is there any issue with my code or is it because that after each round the weight tensors are not deleted.  I would appreciate it so much if anyo

[2019-08-23 08:05] zzhu2019 opened #752 "Fail to test the tff in macos"
Hi there,

I have been playing with tff in colab for a while, but whenever I tried to install tff in  my local Pycharm and run the test code `tff.federated_computation(lambda: 'Hello, World!')()`. There is just nothing to print, and the process finished normally. I have double-checked that I have the same pre-requisite as in the doc.
![image](https://user-images.githubusercontent.com/38281790/6357

[2019-08-23 11:32] ZacharyGarrett commented on #752
Could you try wrapping with a `print()` call, similar to the change made in #738

[code]

[2019-08-24 04:58] zzhu2019 commented on #752
Oh, I should have found that. Thx for your help.

[2019-08-24 04:58] #752 closed

[2019-08-26 13:12] HaiQW opened #753 "tff.utils.get_variables is not available in the newest version of TTF"
I find that one of the most important functions, **tff.utils.get_variables**, is not available in the newest version.  Are there any equivalent functions?

[2019-08-27 09:21] lc0 commented on #741
@jkr26 sounds great. Lemme know if you have a beta to test. Happy to test on my side

[2019-09-02 07:13] phalangee opened #755 "TypeError: `dataset_or_iterator` must be a Dataset or Iterator object"
[code]

**This code from custom_federated_algorithms_1.ipynb**
    **python: 3.7.2**
   **tensorflow: 1.14.0**
   **tensorflow-federated : 0.8.0**
   **tf-nightly: 1.15.0.dev20190805**
**and I got this error:**

`TypeError: "dataset_or_iterator" must be a Dataset or Iterator object, but got <class 'tensorflow.python.data.ops.dataset_ops._VariantDataset'>.`
**more information about error:**
[code]

[2019-09-02 13:25] ZacharyGarrett commented on #748
Apologies for the delay, the documentation should now be updated. The text generation and image classification tutorials still need some work, but the API docs and the custom federated algorithms tutorials (part1 and part2) should be good to go.

[2019-09-02 13:25] #748 closed

[2019-09-02 13:27] ZacharyGarrett commented on #755
@phalangee could you try adding `tf.compat.v1.enable_v2_behavior()` just after the code imports tensorflow?

[2019-09-02 18:34] ostwind opened #756 "accessing gradients"
Hi TFF team!

I'm working on a Tensorflow Federated tutorial/viz that aims to draw an analogy between SGD and user gradients within Federated Learning. To do this, I want to access the gradients on each client device, and emit them (they may be outputted to file or returned by a federated_computation). Is this possible and what would be the best way to do this?

I tried:  modifying the FC tutorial

[2019-09-02 18:39] jkr26 commented on #747
Interesting. I suspect that this has something to do with running on Windows, as we generally build and run on Linux. What seems to be *not* happening correctly is the following code snippet from the tutorial:
[code]

TFF is strongly-typed (with its own type system), so functions generally need type declarations, or some way to infer the types they should expect to accept and return. This *should*

[2019-09-03 01:51] happy2019-k commented on #755
I met the same problem. I tried this method you suggested, but the same problem arose. Is there any other solution? Look forward to your reply, Thanks.

[2019-09-03 04:19] nakibmehdi commented on #755
Me too I tried this suggestion but didn't work for me as well. Is there any suggestion please. Thank You

[2019-09-03 14:20] ZacharyGarrett commented on #755
Sorry I didn't notice earlier: it looks like both `tensorflow==1.14.0` and  `tf-nightly==1.15.0.dev20190805` pip packages are installed, which might be causing problems. @nakibmehdi is this true for your system also?

TFF requires the newer nightly package, and the system maybe pulling the libraries from the `tensorflow=1.14.0` package. Could you please try uninstalling the `tensorflow` pip packag

[2019-09-03 16:24] jkr26 commented on #756
Hi @ostwind,

Thanks for your interest in TFF, and the compliment!

This is definitely *doable* in TFF, although yes, it is probably a little unnatural. Generally, TFF wants to make it difficult to inspect values on a single client, e.g. by modeling the federated type placed at CLIENTS as a single multiset, instead of via addressable individual clients.

Given this, I can imagine at least three di

[2019-09-03 16:25] jkr26 commented on #756
Adding Zach as he is shepherding the reference FedAvg into the light

[2019-09-05 02:30] phalangee commented on #755
thank you,I tried the two methods that you mentioned but it didn't work.
`tensorflow=1.14.0`,`tf-nightly` ,`tensorflow-federated` are all installed in my virtual enviroment ,I noticed that  most code in tutorials need` import tensorflow` ,if  `pip uninstall tensorflow` , it will report an error: `"No module named 'tensorflow'"` . Is there any suggestion please or you need any information about err

[2019-09-05 06:40] ostwind commented on #756
Thanks @jkr26 for the comprehensive explanation. I opted for route 1 and it was straightforward to analyze the gradients now.

I was able to observe this as well. After plotting out the weights and bias gradient sums, each client's gradient converges toward the global model's gradient as training goes on (global model is the black trajectory, with 6 Fashion-MNIST classes shown, tutorial's model).

[2019-09-05 09:51] HandsomeHans commented on #755
I met the same error today:

os: Ubuntu 18.04
python: 3.6.8
IDE: Pycharm Runtime version: 11.0.3+12-b304.39 amd64
tensorflow: 1.14.0
tensorflow-federated : 0.8.0
tf-nightly: 1.15.0.dev20190805

Thank you @ZacharyGarrett for the two methotds, but neither of them worked.

[2019-09-05 10:11] HandsomeHans commented on #755
@ZacharyGarrett @phalangee

I solved this problem by uninstall tensorflow and tf-nightly and then reinstall tf-nightly.

[2019-09-05 12:12] ZacharyGarrett commented on #755
Thanks @HandsomeHans!

@phalangee If `tensorflow` was not uninstalled before installing `tensorflow-federated`, likely `tf-nightly` needs to be installed again the steps form @HandsomeHans should achieve this. Alternatively, when creating a new virtual environment avoid pip installing `tensorflow` and only install `tensorflow-federated` which will also install the necessary dependency `tf-nightly`

[2019-09-06 00:16] zzhu2019 opened #758 "How to manually reset the model weights of federated averaging algo？"
Hi there,

What I want to do now is reset the model using the `model.set_weights()`. But how should I do that, should I recreate both `iterative_process` (by `tff.learning.build_federated_averaging_process(model_fn)`) and `state` (by `iterative_process.initialize()`)?

UPDATE 6/9/2019:
Well, I just found that there is a method called `tff.utils.update_state()`. Can I use this method to change the

[2019-09-06 04:12] JKbasara commented on #747
@jkr26 Thank you! It worked.

[2019-09-06 04:12] #747 closed

[2019-09-09 03:03] phalangee commented on #755
Thanks @ZacharyGarrett  @HandsomeHans  I have solved this problem as you suggested. Thank you very much !

[2019-09-09 03:03] #755 closed

[2019-09-09 08:50] HaiQW opened #759 "Problem with 'tf-nightly version'"
File "/Users/haiqw/anaconda3/envs/py3/lib/python3.5/site-packages/tensorflow_core/python/eager/function.py", line 2106, in _maybe_define_function
    graph_function = self._create_graph_function(args, kwargs)
  File "/Users/haiqw/anaconda3/envs/py3/lib/python3.5/site-packages/tensorflow_core/python/eager/function.py", line 1997, in _create_graph_function
    capture_by_value=self._capture_by_value

[2019-09-09 17:29] ZacharyGarrett commented on #759
Thanks for the report!

Could you share a few more pieces of information?

- output of `pip freeze`
- output of `python --version`
- operating system
- the code snippet being run that leads to the stack trace

Thanks!

[2019-09-10 01:53] HaiQW commented on #759
pip freeze:
absl-py==0.8.0
astor==0.8.0
attrs==18.2.0
cachetools==3.1.1
certifi==2019.6.16
enum34==1.1.6
gast==0.3.1
google-pasta==0.1.7
grpcio==1.22.1
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
numpy==1.17.2
opt-einsum==3.0.1
portpicker==1.3.1
protobuf==3.9.1
six==1.12.0
tb-nightly==1.15.0a20190908
tensorflow-federated==0.8.0
tensorflow-model-optimization==0

[2019-09-10 03:42] williamcityu commented on #759
@ZacharyGarrett I also encountered a similar problem as HaiQW. So I directly post it here for your reference. Thanks.

- OS
System: macOS 10.14.6, Kernel: Darwin 18.7.0

- python --version
Python 3.7.4

- pip freeze
absl-py==0.8.0
astor==0.8.0
attrs==18.2.0
cachetools==3.1.1
enum34==1.1.6
gast==0.3.1
google-pasta==0.1.7
grpcio==1.22.1
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1

[2019-09-10 04:10] williamcityu commented on #759
@HaiQW
A walkaround solution here. Before you start, you should create a pure environment with "virtualenv".
First, run "pip install -r requirements.txt" in federated folder you pulled from github
Then, pip install --upgrade tensorflow_federated
It works for me.

[2019-09-10 06:55] HaiQW commented on #759
Thanks.  The problem is now solved after upgrading TFF to the master version.

[2019-09-10 13:19] #759 closed

[2019-09-10 13:35] ZacharyGarrett commented on #758
Hi @zzhu2019, could you help me understand more clearly the context around "reset the module using `model.set_weights()`? If you could share the code you're writing it would help clarify the intent.

If you want to reset the model weights within the `state` object to the original initialization, calling `iterative_process.initialize()` will produce a new, reset model. Did this not accomplish want

[2019-09-11 08:22] HaiQW opened #760 "How to assign different training functions to different clients?"
The  low-level function ` tff.federated_mean(tff.federated_map(fn, data))` assigns the same training function to all of the clients. Are there any way to assign different training functions to the clients?

[2019-09-11 09:33] UltraShieldRog commented on #758
Hi Zachary.

Sorry for the late reply as I cannot log in my account today, I have to reply with my friend's account. Apologize for not being clear, as the `model.set_weights()` is what I found in `tf.keras.layers.Layer.set_weights()` [(tf source code)](https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/python/keras/engine/base_layer.py#L1090-L1121). To be specific, the reset I mean her

[2019-09-11 09:51] UltraShieldRog commented on #758
And, can I use the code below to only update the `state` in order to change the weights without regenerate the `iterative_process`?
`value_dict = {}`
`value_dict['desne/kernal'] = states[edge_id][0]`
`value_dict['desne/bias'] = states[edge_id][1]`
`state = tff.utils.update_state(state=state, **value_dict)`

[2019-09-11 11:27] phalangee opened #761 "TypeError: Expected collections.abc.Iterable, found method."
my Installation Environment is :
**python: 3.7.2
tensorflow: 1.14.0
tensorflow-federated : 0.8.0
tf-nightly: 1.15.0.dev20190805**
[code]
**This code is from federated_learning_for_image_classification.ipynb**
**and I got this error:**
`TypeError: Expected collections.abc.Iterable, found method.`

**more information about error:**
[code]

Thanks a lot !

[2019-09-11 14:33] ZacharyGarrett commented on #758
Could you share the code you are using the do steps 1 through 5 in https://github.com/tensorflow/federated/issues/758#issuecomment-530302262? Setting a Keras model's weights with pre-trained weights and then using that in TFF is expected to work (the [Federated Learning for Text Generation tutorial](https://www.tensorflow.org/federated/tutorials/federated_learning_for_text_generation) does this, s

[2019-09-11 15:38] ZacharyGarrett commented on #760
Hi @HaiQW, this sounds more like a question about how to use TFF that could be better asked on [StackOverflow using the [tensorflow-federated] tag](https://stackoverflow.com/questions/tagged/tensorflow-federated) rather than an issue with the TFF codebase that can be resolved. Could you please ask your question there?

[2019-09-11 15:38] #760 closed

[2019-09-11 22:10] jkr26 commented on #761
Hi @phalangee,

I am guessing this may be a problem with side-by-side install of TF 1.14.0 and TF-nightly; this is generally not a recommended practice for us.

Can you try creating a fresh `virtualenv`, and installing TFF directly to this environment?

Another option I can see is the possibility that there is an override of the `trainable_variables` property; before you build federated_averaging

[2019-09-12 01:04] UltraShieldRog commented on #758
Basically, I changed a bit about the `model_fn()` as follow:
![image](https://user-images.githubusercontent.com/37321309/64745836-b86ea300-d54c-11e9-8e5d-f472382d731a.png)
And the `model_fn()` is used in:
![image](https://user-images.githubusercontent.com/37321309/64745875-e48a2400-d54c-11e9-8bfc-9add2dd68e72.png)
which produce a new  `iterative_process` and `state`, but the problem is that the st

[2019-09-12 02:56] phalangee commented on #761
Thank you very much !@jkr26
I found out that the code  `@property` in front of this code `def trainable_variables(self)` was accidentally deleted by me. Because you inmentioned `trainable_variables` make me find this point! I should figure out the @ Decorator as soon as possible.
Sorry to bother you !
Best wishes to you!

[2019-09-12 05:51] UltraShieldRog commented on #758
It seems like there is something wrong with the way I use `model.reset_weights()` cuz the weights inside the state generated by `iterative_process.initialize()` just change correspondingly to the `kernel_initializer` in `model = tf.keras.models.Sequential([
            tf.keras.layers.Dense(
                10, activation=tf.nn.softmax, kernel_initializer='random_uniform', input_shape=(784,))])`

[2019-09-13 07:53] UltraShieldRog commented on #758
Hi Zachary, I am pretty sure that the weight of the model before `model.compile()` inside the `created_compiled_keras_model()` has been changed which can be confirmed by both (`model.weights` and `model.get_weights()`).

[2019-09-13 15:59] ZacharyGarrett commented on #758
Its hard to diagnose the issue without a full picture of the situation, the code snippets are helpful but without the complete code I'm still having a hard time fully grasping what the goal is and how it is being attempted.

From what I gather so far this doesn't seem like an issue that needs fixing in TFF, but a question about how to use TFF (or TF) to achieve a particular behavior? If you agree,

[2019-09-14 13:15] UltraShieldRog commented on #758
Hi Zachary, thank you for your reply to my question which is not really a bug of so of tff. I have given up changing the model before return the compiled Keras model to generate the new state. But I just found the `tff.learning.state_with_new_model_weights` which can fix my problem in a way more convenient way. I will close this issue soon. : )

[2019-09-16 23:50] jiachangliu commented on #751
Hello, I encountered the same problem, and the memory accumulated after each round of training and exploded after some time. Has the team found a cause or solution to this problem? @jkr26 @ZacharyGarrett

[2019-09-17 23:27] krzys-ostrowski commented on #749
Re: schedule for TFLite, we are not at liberty to discuss future plans on this forum.

Re: how to use FL, could you please clarify the question. Thanks!

[2019-09-19 03:38] HaiQW opened #762 "How to use tfdbg in TFF"
Recently, I repeatedly  use the TFF framework to debug my federated algorithms, which is difficulty for me.

I try to use `tfdbg`, but  can't explicitly find the session instance in TFF. How to use `tfdbg` to debug TFF ?

[2019-09-19 05:46] UltraShieldRog commented on #758
@ZacharyGarrett Thanks! Please close this issue since I'm not be able to log in my own GIthub account recently.

[2019-09-19 15:40] #758 closed

[2019-09-19 17:03] jiachangliu commented on #578
I believe if you update to 0.8.0, you are able to use GPU again. At least I'm able to.

[2019-09-19 17:04] jiachangliu commented on #578
I installed with version 0.8.0 and am able to run codes with GPU.

[2019-09-20 12:11] anupamme commented on #578
I tried it with 0.8.0 and I am still getting this error.

@jiachangliu  is your code open source? Can you point me to it?

My code is open source [1]. Run federated.py.

1. https://github.com/anupamme/CheXpert-Keras

[2019-09-20 14:45] jiachangliu commented on #578
@anupamme I'm actually just running the image classification tutorial from federated learning. https://www.tensorflow.org/federated/tutorials/federated_learning_for_image_classification

[2019-09-20 15:54] cpwan opened #763 "Manipulating weight delta element-wisely"
Say, for each entry in the weight delta, i would like to find its median among the clients. How can i do that?
I am trying to build a custom `stateful_delta_aggregate_fn`  and feed that to `tff.learning.build_federated_averaging_process`, as a result, having elemental-wise median updates instead of FedAvg.

[2019-09-20 21:39] dsudzeng opened #764 "TypeError: Expected a TensorFlow computation, found intrinsic."
This is from Federated_learning_for_image_classification.ipynb
tensorflow_federated 0.8.0
tensorflow nightly 1.15.0-dev20190805

run as a local notebook. It works on colab!

state = iterative_process.initialize()
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-18-0c0dcd96a774> in

[2019-09-21 01:29] Pangeensi opened #765 "The best version of frameworks that support federated"
I want to know that if I use tensorflow federated, which version of python, tensorflow and keras should I use to minimize the weird bugs.

[2019-09-23 18:04] ZacharyGarrett commented on #765
Hi @Pangeensi,

There is a [compatibility chart](https://github.com/tensorflow/federated#compatibility) on the https://github.com/tensorflow/federated with versions of Tensorflow (which should include Keras in the `tf.keras` package) and Tensorflow Federated. As for Python versions, we run continuous tests on Python 2.7 (Linux) and Python 3.6 (Linux and MacOS).

I would check out the steps are [In

[2019-09-23 18:04] #765 closed

[2019-09-24 20:36] jkr26 commented on #764
Hi @dsudzeng

Thanks for pinging us on this!

We pushed the capability for the local executor to infer cardinalities from its arguments in August 29 in [this change](https://github.com/tensorflow/federated/commit/7107a4a8d474524341250b15da389614b478b1e8#diff-9a0820f4f746826fab7fd2b2f3612342), and released our last version of TFF (0.8.0) on August 20. This means that any ipython notebook currently

[2019-09-24 20:42] #764 closed

[2019-09-25 21:34] jkr26 commented on #756
Following up here, this is the implementation I was talking about:

https://github.com/tensorflow/federated/tree/master/tensorflow_federated/python/research/simple_fedavg

I think generally in FL, relationship to IID/non-IID is a quite interesting and important area of research, as is exploring the relationship you describe.

Closing issue. Thanks for working in TFF!

[2019-09-25 21:34] #756 closed

[2019-09-26 02:26] jkr26 commented on #762
Hi @HaiQW

Thanks for your interest in TFF!

Generally, a recommended best practice in TFF is to debug your TensorFlow *first* before bringing it to TFF, since as you have noticed our runtime behavior is a little distant from the user; it sits at a layer below immediate user exposure. This is really a design choice, since TFF is designed to be deployable to production FL systems. When you wrap you

[2019-09-28 08:49] phalangee opened #766 "Installation problem"
Hi! Can `Tensorflow_federated` be installed in` CentOS`?
  I'm trying to install this in remote server and can  only install the software by compiling it,because I can't get the "root" permission.I'm very embarrassed to ask if you have relevant  installation documentation?
  My server system information is :`CentOS Linux release 7.4.1708 (Core)`
Thank you very much

[2019-09-28 14:45] ZyuHoiMing opened #767 "TypeError : Expected a TensorFlow computation, found intrinsic."
Hi, I follow the guidance in the TensorFlow Federated. After Installation, I meet the error : `TypeError : Expected a TensorFlow computation, found intrinsic.` in **federated_learning_for_image_classification.ipynb**

The problem raises when I try to run the code :

[code]

I found that there is no helpful answer while Googling the error, so I have the question : **why this error raises?** And **a

[2019-09-29 03:18] jkr26 commented on #767
Hi @ZyuHoiMing,

Please see issue #764; long story short, this is a mismatch between the released pip package and master, and if you specify the number of clients in the executor, this should disappear.

We are planning on another release soon, and this issue should simply disappear with that package.

Thanks for your interest in TFF!
Keith

[2019-09-29 03:18] #767 closed

[2019-09-30 20:36] Tabrizian opened #768 "Installing TFF in a Disributed Environment"
Can `tensorflow/federated` be used in a real distributed environment?

[2019-10-01 20:12] jkr26 commented on #766
Hi @phalangee,

Can you create a virtualenv and install the TFF pip package there? In general, as long as you have python already installed, you should be able to start [here](https://www.tensorflow.org/federated/install#2_create_a_virtual_environment), install TFF to your interpreter, and run any programs requiring TFF through this interpreter.

Does this work for your setup?

[2019-10-02 08:52] savi-hub commented on #755
I am still getting same error.. I have tried to uninstall tensorflow , and installing tensorflow- federated

[2019-10-02 15:27] ZacharyGarrett commented on #768
At this time TFF supports simulating federated learning environments; components for a central aggregation service and executing computations on a fleet of client devices are not available.

Work is underway to enable multi-machine simulations using GCP/GKE, when this is ready https://github.com/tensorflow/federated/blob/master/docs/tutorials/simulations.ipynb will be updated to demonstrate how to

[2019-10-02 15:27] #768 closed

[2019-10-02 15:29] ZacharyGarrett commented on #763
Could you please ask this question at https://stackoverflow.com/questions/tagged/tensorflow-federated? Questions about how to use TFF, or how to accomplish a task are best asked there.

We use the GitHub issues page for handling bugs in TFF.

[2019-10-02 15:29] #763 closed

[2019-10-04 03:57] pthai commented on #759
@HaiQW I'm having similar issues -- would you kindly post the working output from `pip freeze`?

[2019-10-04 04:47] pthai opened #769 "Unable to run tutorial code in Python 3"
Hello, I'm receiving the error below when I attempt to run the code from the TFF front page. It's probably worth mentioning that it seems to run fine with python 2.7, but not 3.6.

Tutorial code:
[code]

Error:
[code]

requirements.txt:
[code]

Pip freeze:
[code]

Python version
```Python 3.6.5```

[2019-10-07 16:57] jkr26 commented on #769
Hi @pthai,

Can you advise when line from TFF threw this error? In particular, does it come from `build_federated_averaging_process` or invoking the returned function inside the loop? AutoGraph should be tracking this and it should be *somewhere* (perhaps non-obvious) in the stacktrace.

An alternative option here (probably the easier one) is to simply try and run the notebook code as it exists af

[2019-10-08 02:15] HaiQW commented on #759
The output of pip freeze is attached below.

[code]

A walkaround solution here.
First, download the newest  version of tensorflow federated.
Then,  run "pip install -r requirements.txt" in federated folder you pulled from github.
Last, pip install --upgrade tensorflow_federated

It works for me.

[2019-10-09 13:34] phalangee commented on #766
@jkr26  Thank you very much !I just came back from vacation. You are right, I googled how to install conda with non-root permissions. and `conda create -n envname` Then follow the tutorial to install successfully.
Thank you very much

[2019-10-09 14:13] phalangee opened #770 "cannot import name 'computation_pb2'"
I tried to connect pycharm to the remote server. The connection was successful. I used the virtual environment tff3. The jupyter remote connection to the virtual environment can make the code run successfully. However, the pycharm failed.
I created a new py file and entered the following statement.
[code]
The error message is as follows:

[code]
Thank you very much

[2019-10-09 15:36] jkr26 commented on #766
Awesome, happy to help!

[2019-10-09 15:36] #766 closed

[2019-10-09 15:39] jkr26 commented on #770
Hi @phalangee

We are familiar with this error; this is likely due to trying to launch or run the interpreter from within the same directory in which you have a copy of the source. If you move out of this directory, it should all work. This is because the Python interpreter is looking into the raw source of our `proto` files, which generate Python when TFF is compiled or run with `bazel`, but are

[2019-10-10 02:44] phalangee commented on #770
@jkr26  Thank you very much！  it worked for me !

[2019-10-10 03:36] jkr26 commented on #770
Awesome! Happy to help!

[2019-10-10 03:36] #770 closed

[2019-10-14 12:32] Rishav1 opened #771 "Unable to build from source on macOS"
Platform specs:
OS: macOS Mojave 10.14.5
Python: 3.7.4
Build: From Source(d02309a)

packages | version
--- | ---
six|                           1.12.0
tb-nightly|                    2.1.0a20191013
tensorflow-model-optimization| 0.1.3
tensorflow-privacy|            0.1.0
tf-estimator-nightly|          2.0.0.dev2019101401
tf-nightly|                    2.1.0.dev20191014
tfa-nightly|

[2019-10-15 13:07] amitport opened #772 "can't install with python 3.8"
I'm getting `Could not find a version that satisfies the requirement tf-nightly (from tensorflow_federated) (from versions: )
No matching distribution found for tf-nightly (from tensorflow_federated)`

python 3.8
pip 19.3

probably an issue with tf-nightly binaries but I'm not sure

[2019-10-15 13:55] amitport commented on #772
The issue is with tensorflow
I posted https://github.com/tensorflow/tensorflow/issues/33374 and I'm closing this

[2019-10-15 13:55] #772 closed

[2019-10-16 20:05] jpgard opened #774 "NotFoundError on import after pip install"
I was using an older version of tff and tensorflow 1.x, but I am attempting to update to the newest version of tff and tensorflow 2.x.

I followed the pip installation instructions [here](https://github.com/tensorflow/federated/blob/master/docs/install.md#install-tensorflow-federated-using-pip), and set up and activated a virtual environment.  However, running the command in the optional step 4, t

[2019-10-17 15:51] ZacharyGarrett commented on #774
Thank you for providing all the context, including the `pip freeze` output!

Commenting out datasets is likely to work because it stops pulling in the TensorFlow Addons (`tfa-nightly`) package, which is used for image transformations in the infinite EMNIST dataset.

For starters, could you try upgrading `tfa-nightly` package (`pip install --upgrade tfa-nightly`)? There looks to be a new package. W

[2019-10-17 16:57] jpgard commented on #774
Hm, yes, the `tfa-nightly` seems to have been the issue -- no problem when rebuilding from a clean venv now. Thanks!

[2019-10-17 16:57] #774 closed

[2019-10-22 04:01] wangcaihua opened #775 "Distributed Demo"
Hi, TFF team, i tred tff, and feel it cool. however, all the demos in tutorials are based on simulation data in one process (single machine of couse). do you have distributed demos? as you know, it is not difficult to simulate a cell in a standard alone process or docker container. i try this, but do not know how to do the communication between processes. i wish TFF team can help to build a distri

[2019-10-22 07:56] phalangee opened #776 "How does tff allocate processes or threads?"
How does tff allocate processes or threads in the code ?If it is parallel, then there will definitely be code to create a process or thread. I looked at the code but didn't see the content, so I was confused how it distributed the data to different clients and trained independently.
Thank you very much

[2019-10-24 11:55] happy2019-k opened #778 "Does TFF framework not support encryption algorithms currently，such as SMC DP？"
If tff framework not support encryption algorithms, how to prevent user data disclosure?@krzys-ostrowski @jkr26

[2019-10-24 13:46] amitport opened #779 "windows support"
currently it is impossible to install through pip or build this package in windows

the core issue is
https://github.com/tensorflow/custom-op/issues/24
which blocks
https://github.com/tensorflow/addons/issues/173
which blocks
various tensorflow-addons windows issues
which blocks
tensorflow-addons use by the emnist simulation here

the bottom line is that I just want to use tensorflow-federated on

[2019-10-24 14:14] ZacharyGarrett commented on #775
We're not quite there yet, early documentation for running on GCP is at https://github.com/tensorflow/federated/blob/master/docs/gcp_setup.md; but this still documents a single machine setup. Stay tuned.

[2019-10-24 14:16] ZacharyGarrett commented on #741
@lc0 the latest version of TFF (`0.9.0`) is fully migrated to TF 2.0. Please take a look!

[2019-10-24 14:16] #741 closed

[2019-10-24 14:17] ZacharyGarrett commented on #717
Closing due to inactivity (2 months). Please let us know if this issue persists.

[2019-10-24 14:17] #717 closed

[2019-10-31 21:06] ZacharyGarrett commented on #771
Hi @Rishav1,

We have seen issues with some of the earlier `tf-nightly` and `tfa-nightly` versions. Would you be up for trying to see if updating to a newer version has the same issue?

We have seen `tfa-nightly-0.7.0.dev20191017` but `tfa-nightly-0.7.0.dev20191010` has failed in the fast.

[2019-11-01 02:54] Rishav1 commented on #771
Issue seems to be resolved in `tfa-nightly-0.7.0.dev20191031`. All bazel tests also passed except a single test timing out.

[code]

[2019-11-01 02:54] #771 closed

[2019-11-06 10:29] amitport opened #780 "FileCheckpointManager causes exception on windows"
Hi,

running FileCheckpointManager using a windows machine will cause an exception at line https://github.com/tensorflow/federated/blob/48d5e4860f3349086d018b9553f730c87def2429/tensorflow_federated/python/research/utils/checkpoint_manager.py#L88 :

`re.error: bad escape \c at position`

this happened because `os.path.join` creates a string that contains `\\ckpt_`

(I bypassed https://github.com/te

[2019-11-06 12:09] amitport opened #781 "define_optimizer_flags signature is different from call"
the call is in https://github.com/tensorflow/federated/blob/b62640b8880dfd31d574cea0c5c9aff41415a656/tensorflow_federated/python/research/baselines/emnist/run_dp_experiment.py#L47

but `defaults` does not exists in the current definition:
https://github.com/tensorflow/federated/blob/2f71ce50495ed5b11e61d8af1958ec2665779e3b/tensorflow_federated/python/research/utils/utils_impl.py#L119

In other wor

[2019-11-06 16:53] michaelreneer commented on #780
@amitport Can you provide a few pieces of information...
* Python version
* Is `path` == '\\ckpt_'? If not can you provide the full value of `path`?

[2019-11-06 17:06] amitport commented on #780
* python 3.6
* path has a prefix but the error happen because how `os.path.join` is adding the default `ckpt`

just run the following on windows to get an exception
[code]

[2019-11-06 17:55] michaelreneer commented on #780
@amitport Can you provide the value you are using for `anyPath` and what is `path` after you call join?

[code]

Thanks

[2019-11-06 18:02] amitport commented on #780
it really does not matter the exception happen on the `\\c`: `re.error: bad escape \c at position`

in any case mine is something like: 'C:\\my_folder'

[2019-11-06 19:03] michaelreneer commented on #780
This issue is more subtle than you are making it out to be (or I am confused) and this is why I am asking you for specifics.

This is what we want:
[code]

All the following generate the error you are experiencing:
[code]

Therefore I believe that `os.path.join` returning a string that has an escaped slash is correct. Instead I believe the issue is in combining Python raw strings with Python strin

[2019-11-07 13:00] ZacharyGarrett commented on #776
This question is may be better suited fro the `tensorflow-federated` tag on StackOverflow (https://stackoverflow.com/questions/tagged/tensorflow-federated); TFF uses GitHub issues for bugs and feature requests, and StackOverflow for questions & answers.

 The default simulation execution does not run multi-threaded; this executor is called the _reference executor_ ([code link](https://github.com/t

[2019-11-07 13:00] #776 closed

[2019-11-07 13:11] amitport commented on #780
The two lines I quoted in always cause the issue on windows and it's easy to reproduce. I didn't mean that it is easy to solve or that `path.join` directly causes the issue, but having `\\c` in the next line does.

anyway thanks for the effort

[2019-11-07 20:33] #781 closed

[2019-11-08 21:26] jpgard opened #782 "Structured data tutorial/examples"
Currently the TFF tutorials cover modeling with image and text data, but there aren't examples to cover structured data. It isn't exactly clear how the single-input-single-output `x` and `y` workflow directly extends to the case where there are many features to be used as the input (e.g. not just a single array of pixels as in the image classification tutorial).

In particular, examples of how to

[2019-11-08 21:44] ZacharyGarrett commented on #782
A tutorial that demonstrates how to work with structured data would be immensely useful, thanks for taking a look @jpgard !

In the end, we'll probably want to store it in `federated/docs/tutorials/` and we'll work to have it render on tensorflow.org alongside the other tutorials (e.g. https://www.tensorflow.org/federated/tutorials/federated_learning_for_image_classification)

[2019-11-08 21:47] jpgard opened #783 "Variable initialization failure with Keras + FeatureColumns"
I'm trying to train a Keras model which uses `FeatureColumn`s, and in particular, embedding columns. This requires that the embedding columns be "inside" the Keras model instead of e.g. constructing a dense tensor in a preprocessing step prior to model training.

However, TFF seems to fail for *any* FeatureColumns which require initializing lookup variables (not just the embedding columns -- categ

[2019-11-09 14:55] IMVector opened #784 "how to save a model"
I will appreciate it if you told me how to save the model of federated learning in tutorials ederated_learning_for_image_classification.ipynb.

[2019-11-10 20:32] jkr26 commented on #784
I believe this is the same question asked [here](https://stackoverflow.com/questions/58785825/how-to-save-model-in-tensorflow-federated); answers going on the SO post. Thanks!

[2019-11-10 20:32] #784 closed

[2019-11-11 02:44] jkr26 commented on #769
Pinging, is this still an issue?

[2019-11-11 02:44] jkr26 commented on #762
Pinging, is the answer above sufficient?

[2019-11-11 04:51] #762 closed

[2019-11-11 04:51] HaiQW commented on #762
Many thanks~

[2019-11-12 17:16] jkr26 commented on #779
Hi @amitport,

I think we unfortunately are simply unlikely to attempt to add windows support in the near future. There is some nontrivial setup that would have to happen on our side, and it's not currently considered a high priority.

That said, a solution like [virtualbox](https://www.virtualbox.org/) or [docker](https://www.docker.com/) (maybe even [Windows Subsystem for Linux](https://docs.mic

[2019-11-12 18:21] amitport commented on #779
Of course I bypassed this issue

but, as I see it, treating windows as a low priority seems like a symptom of low maturity, capacity, and commitment. That's part of the reason why I'm currently just using regular tf and building what I need around it.

[2019-11-13 12:40] aqibsaeed opened #785 "Model with multiple inputs of varying shape"
Is there an example of a tff model with multiple inputs that are not of same shape? I tried the following code snippet to create a tf.data object but it is not working as tf.data api doesn't allow stacking tensors of varying ranks.

[code]

this is the raised error:

`ValueError: Value [<tf.Tensor 'Reshape:0' shape=(784,) dtype=float32>, <tf.Tensor 'Reshape_1:0' shape=(1024,) dtype=float32>] is no

[2019-11-13 16:23] ZacharyGarrett commented on #785
In the first example, the value for the `x` key in the `dict` is a `list` of tensors. I believe TensorFlow dataset is going to try and concatenate/stack these into a single tensor, but this will fail because they are not compatible shapes. This is fixed in the second code block by using a `tuple` instead of a `list` for the value of `x`.  This question is more of _how to use_ TensorFlow or TFF and

[2019-11-13 17:05] aqibsaeed commented on #785
Thank you for prompt response. Do you think the issue mentioned in second example will be fixed anytime soon?

[2019-11-13 17:11] ZacharyGarrett commented on #783
This looks like an issue inside TFF.

Unfortunately TFF is currently only extracting variables here:

https://github.com/tensorflow/federated/blob/547eeae6b65f6951504dfb49615a782306a6e097/tensorflow_federated/python/learning/keras_utils.py#L370-L379

and then adding them to an initialization op here:
https://github.com/tensorflow/federated/blob/547eeae6b65f6951504dfb49615a782306a6e097/tensorflow_f

[2019-11-13 17:17] ZacharyGarrett commented on #785
Yup, I'm hoping to have a PR merged today. Currently running through continuous integration tests.

[2019-11-13 17:25] aqibsaeed commented on #785
Thank you.

[2019-11-13 18:04] #785 closed

[2019-11-13 18:29] aqibsaeed commented on #785
Can I use it in Google Colab now? tff installation via pip package is also updated?

[2019-11-13 18:36] ZacharyGarrett commented on #785
Sorry, the pip package has not been updated so this isn't usable in Google Colab yet. That will require a new release, and TFF typically release every few weeks. There maybe a release in the next few days, I'll check and follow-up.

[2019-11-13 23:57] jpgard commented on #783
I am assuming from this answer that there isn't a workaround -- is that correct? Any general idea of what the timeline for a fix might be?

[2019-11-14 22:54] ZacharyGarrett commented on #783
**Note**: I believe the issue is from TFF not running the required initializers for `tf.feature_column.categorical_column_with_vocabulary_list` (and likely any `tf.feature_column.categorical_column_with_*`). Usage of `tf.feature_column.embedding_column` I expect to be fine.

Correct, an easy workaround is not readily apparent. If it's feasible, possibly encoding the string features to integer IDs

[2019-11-18 17:07] jpgard commented on #783
I will look into this again, but I believe this issue was also encountered with the embedding columns alone.

If this issue is not affecting embedding columns, it seems that  there may be a workaround: split the model input so that the embedding layer(s) are inside the Keras models, but the categorical features are outside the Keras models (e.g. in a preprocessing step), since these don't need to

[2019-11-18 17:10] jpgard commented on #782
Just a note that this was held back by #783 , but there may be a workaround to the issue that was encountered. If no workaround exists, the tutorial will just illustrate the currently-supported `FeatureColumn` types, and can be updated when additional `FeatureColumn`s are fully supported.

[2019-11-18 19:31] jkr26 commented on #751
Given [this recent commit](https://github.com/tensorflow/federated/commit/5299226ee7c736c46d1d3def8c6726214f6f9cb0), this issue should be mitigated. Can those seeing this problem confirm?

[2019-11-20 02:45] Krypton3 opened #786 "Making federated data!"
Hi,

I have selected a dataset from kaggle which is the "FIFA 19 complete player dataset". I wanted to use this dataset as a federated dataset. However, when I was trying to convert the dataset into a federated one, it seems not working for me. I have imported the dataset as Dataframe.

Does anyone have any suggestions? How do I make this dataset into federated one as they showed in the tutorial s

[2019-11-20 13:58] aqibsaeed commented on #785
Hey @ZacharyGarrett,

Any updates about the release?

[2019-11-20 17:48] ZacharyGarrett commented on #785
@aqibsaeed apologies for the delay, thanks for checking in. We we waiting to get a01eadc1b33b31947ec4540689a63e777c933205 merged (which is good to go now). Someone from the team will look at releasing a pip package today (though may take until tomorrow).

[2019-11-20 17:53] ZacharyGarrett commented on #786
@Krypton3 questions about _how to use_ TFF are often better addressed at StackOverflow with the [TensorFlow Federated tag](https://stackoverflow.com/questions/tagged/tensorflow-federated).

Perhaps the following questions are similar to yours and the answers might apply?

- [Create a custom federated data set in TensorFlow Federated](https://stackoverflow.com/questions/55434004/create-a-custom-fed

[2019-11-20 23:43] jpgard commented on #786
+1 to @ZacharyGarrett 's comment. @Krypton3 if you do post this on StackOverflow, perhaps you can share a link and I will see if I can answer the question on StackOverflow.

[2019-11-21 00:14] Krypton3 commented on #786
Thank you. I will post this on StackOverflow and use the proper tag. I am working on federated for a few days and hopefully will do my ms thesis on it. However, I need to solve this issue in which I am stuck right now.

Thanks

[2019-11-21 10:48] aqibsaeed commented on #785
Thank you @ZacharyGarrett

[2019-12-01 01:10] jpgard opened #787 "support for keras callbacks (esp TensorBoard) during federated training"
Currently, it does not seem that callbacks can be used during TFF model training -- for example, logging to a directory with ['tf.keras.callbacks.TensorBoard`](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard) for TensorBoard logging during training. More specifically, this is because callbacks are typically provided as parameters to the `mode.fit()` method, but TFF calls

[2019-12-01 01:11] jpgard commented on #786
FYI I think this question has been posted on SO here: https://stackoverflow.com/questions/58965488/how-to-create-federated-dataset-from-a-csv-file

[2019-12-01 01:50] jpgard commented on #783
Following up; I was able to try this without the categorical columns (e.g. only numeric and embedding columns). In that case, there is still an error in the call to `build_federated_averaging_process()`, but the traceback is different. Full traceback below:

[code]
I also experimented with disabling eager execution via `tf.compat.v1.disable_eager_execution()`; in that case, there is still an error

[2019-12-01 19:58] jkr26 commented on #751
Closing since this should be no longer an issue.

[2019-12-01 19:58] #751 closed

[2019-12-02 16:37] aWeinzierl commented on #779
Is there a way which includes GPU use?

[2019-12-02 18:05] ZacharyGarrett commented on #787
In the tutorials, there is a "round loop" for most federated learning computations. For example, in the text classification tutorial:

[code]

The `metrics` object here can be used with `tf.summary` to get the _aggregated_ metrics into TensorBoard. For example:

[code]

I'd posit there is some interesting work here to integrate better with Keras callbacks. Perhaps we could extend `tff.utils.Iterat

[2019-12-03 11:18] somiljain7 opened #788 "not able to install tensorflow federated in windows 10"
![Screenshot (4)](https://user-images.githubusercontent.com/42209500/70046778-ba487f80-15ec-11ea-8e57-61a56c6a023a.png)

[2019-12-04 03:03] jkr26 commented on #788
Duplicate of #779; please see that issue for Windows questions, or register your desire there.

Thanks for your interest in TFF!

[2019-12-04 03:03] #788 closed

[2019-12-04 04:27] processdatatech opened #789 "How to simulate tff distributed?"

[2019-12-04 04:38] processdatatech commented on #775
same confusion , hope there is a example

[2019-12-06 05:11] jkr26 commented on #373
This is to be expected in the interpreted runtime, as it is naively interpreting the syntax trees TFF generates.

Have you tried using `tff.framework.set_default_executor(tff.framework.create_local_executor())`?

[2019-12-06 05:11] jkr26 commented on #778
Hi @happy2019-k

TFF is somewhat orthogonal to the actual encoding of data as it goes across a network; TFF right now is essentially geared towards *simulating* federated learning rather than deploying FL to real devices, and so it doesn't really make sense for TFF to be focused on encrypting data to go across the wire.

This is really the responsibility of the *deployment* framework for the feder

[2019-12-06 20:01] jkr26 commented on #769
Closing as unable to repro

[2019-12-06 20:01] #769 closed

[2019-12-06 20:02] jkr26 commented on #361
Closing as this seems to be handled with relatively few issues by the `local_executor`.

[2019-12-06 20:02] #361 closed

[2019-12-06 20:27] jkr26 commented on #578
Training on GPU with the local executor stack. That is, calling `tff.framework.set_default_executor(tff.framework.create_local_executor())` before execution, should allow you to utilize the GPU.

In particular, if you run the image classification colab with a GPU-backed cloud-hosted runtime, you will see a roughly 2X speedup compared with the CPU-backed runtime.

We've seen local training working

[2019-12-06 20:27] #578 closed

[2019-12-10 19:12] str4w opened #790 "Can't find tff research in released version"
TFF research does not seem to be present in the released pip build of tff, despite being present in the code at that tag.   Is that intentional?

A file such as the following is present at tag 0.11.0 https://github.com/tensorflow/federated/blob/v0.11.0/tensorflow_federated/python/research/baselines/emnist/run_federated.py

However, if I try to import research (or run the code in the above file lin

[2019-12-10 19:20] ZacharyGarrett commented on #790
Correct, the `research/` directory is not part of the pip package. Code in the `research/` directory is intended for local development and tinkering, and hence is intentionally not part of the pip package.

The official, supported APIs available in the pip package are documented at https://www.tensorflow.org/federated/api_docs/python/tff. All other packages/module imports come without guarantee, t

[2019-12-10 19:20] #790 closed

[2019-12-11 06:51] jpgard commented on #787
Great, thanks @ZacharyGarrett .

For others who stumble on this, I was able to write training summary metrics via:

[code]

[2019-12-11 06:51] #787 closed

[2019-12-20 12:01] aynesss commented on #764
you must add this lignes in notebook tff.framework.set_default_executor(tff.framework.create_local_executor(10)) tff.framework.set_default_executor(tff.framework.create_local_executor())

But 10 means the total number of clients ? or the fraction of clients C that we have to choose, because as you know, in Federated learning, not all the clients are going to participate in training.

[2019-12-24 21:09] MMorafah opened #791 "How to implement my own federated algorithm Usinsg tensorflow federated"
I have read all the documents on the tensorflow federated available at tensorflow.org, but I am not sure how to implement my own federated algorithm. For example, I have a compiled keras model, I know how to convert this to tff.computation. It seems that in order to build a federated algorithm one should build an iterative_process. Can anyone help me in this regard?

Thank you so much,

[2020-01-07 09:21] sandeepwww commented on #791
https://colab.research.google.com/github/tensorflow/federated/blob/v0.11.0/docs/tutorials/federated_learning_for_image_classification.ipynb

I think this should help you.

[2020-01-13 00:20] jpgard opened #792 "tf.Estimator API support/integration"
It is not clear from the current docs whether TFF supports the `tf.Estimator` API (it seems that it probably doesn't). Is this correct? If so, is there a timeline for integration with that API, or is there a way to use/train a `tf.Estimator` within the TFF ecosystem?

[2020-01-14 12:39] ines321 commented on #791
please I have my own dataset and would like to know how this line become :

[2020-01-14 13:22] ines321 commented on #791
I have image dataset of skin cancer, and i must convert my dataset into federated data
can anyone give me an example
I use
tff.simulation.clientData
or
tff.simulation.clientData.create_tf_dataset_for_client()
or
tff.simulation.HDF5ClientData.create_tf_dataset_for_client(client_id)
or
tf.data.Dataset.from_tensor_slices()

[2020-01-16 06:01] jkr26 commented on #792
Hi @jpgard

This is correct, currently TFF does not support the Estimator API. There are no current plans to do so in the near future, but we would be happy to accept contributions, presumably paralleling those found in [`keras_utils`](https://github.com/tensorflow/federated/blob/master/tensorflow_federated/python/learning/keras_utils.py), which construct a `tff.learning.Model` from an `Estimator`

[2020-01-16 17:42] jkr26 commented on #791
Hi @ines321!

Unsure if you reposted this on StackOverflow, but it seems like [perhaps this](https://stackoverflow.com/questions/59741397/federated-learning-convert-my-own-image-dataset-into-tff-simulation-clientdata) is a good pointer here.

[2020-01-16 18:05] jkr26 commented on #786
Seems like given the activity on SO, this issue can be closed.

[2020-01-16 18:05] #786 closed

[2020-01-21 06:56] zm17943 opened #793 "Use data generator to federated framework when train on large dataset"
Hi!

I was very glad to customize my own data and model to federated interfaces and the training converged!

Now I am confused about an issue that in an images classification task, the whole dataset is extreme large and it can't be stored in a single `federated_train_data ` nor be imported to memory for one time. So I need to load the dataset from the hard disk in batches to memory real-timely and

[2020-01-22 17:50] jkr26 commented on #793
Thanks for asking on SO! Dropping a [link here](https://stackoverflow.com/questions/59835749/implement-data-generator-in-federated-training/59865565#59865565), will close when there is an accepted answer.

[2020-01-29 13:10] ines321 commented on #373
please what is version of cuda that requires TFF?
I would like to execute this tutorial but I find incompatibility in cuda version

[2020-02-03 20:57] Dhrumilsoni commented on #775
@ZacharyGarrett
Is it possible to run it distributed with the remote executor?
(Something like this: [https://github.com/tensorflow/federated/blob/2d3ee312c489b2992a272bac59f5c28ef5d737c6/tensorflow_federated/python/examples/remote_executor_example.py])

I tried actually, but having trouble over communication via grpc.

[2020-02-05 13:07] aynesss commented on #303
@ZacharyGarrett Please can you see this task `https://stackoverflow.com/questions/60060493/tff-invalid-argument-default-maxpoolingop-only-supports-nhwc-on-device-type-cp`

[2020-02-07 18:17] r-o-s-h-a-n opened #795 "Text generation colab notebook throws error on keras evaluation"
Hello! I am running the Text generation colab notebook in Python 3 runtime with no hardware acceleration. Without making any modification to the notebook and simply running all cells, the notebook throws an error in the "Fine-tune the model with Federated Learning" section on line 21 where it calls the keras_evaluate function.

https://colab.research.google.com/github/tensorflow/federated/blob/v0.

[2020-02-10 07:13] zm17943 commented on #793
Hi! Thanks so much for your reply on SO! Unfortunately I still can't work it out. Do you know any way to change the model training process on local clients?

[2020-02-11 01:17] roselander commented on #775
@Dhrumilsoni it is definitely possible to run it in a distributed fashion. Please stay tuned for the next release of TFF in the next week or so, which will include a tutorial showing how to run TFF on Kubernetes using the RemoteExecutor. I also update this bug when the tutorial is available.

[2020-02-11 17:13] armanoj opened #796 "Data format"
Hello,
I am trying to figure out how federated data looks and I am unable to find any resource where I can refer. So can you please let me know how the data actually looks. Even a small amount of data view will be helpful to understand(like mnist).
Thank you

[2020-02-12 02:40] aslfu opened #797 "InvalidArgumentError: TypeError: endswith first arg must be bytes or a tuple of bytes, not str"
Hi, I am following the tutorial 'Federated Learning for Image Classification', but using my own dataset. I got this error, when running `iterative_process.next`.

here is my code:
[code]
I got the error
`InvalidArgumentError: TypeError: endswith first arg must be bytes or a tuple of bytes, not str
`
here is more information
[code]

my environment
[code]

[2020-02-12 21:33] ZacharyGarrett commented on #795
Hi @r-o-s-h-a-n we just released version `v0.12.0`. The new version of the colab tutorial is [here](https://colab.research.google.com/github/tensorflow/federated/blob/v0.12.0/docs/tutorials/federated_learning_for_text_generation.ipynb). Our tests indicate this notebook does not raise errors, could you retry there and see if this issue still occurs?

[2020-02-12 23:03] r-o-s-h-a-n commented on #795
Hi @ZacharyGarrett , the notebook works now. Thanks!

[2020-02-12 23:03] #795 closed

[2020-02-15 18:04] jkr26 commented on #797
Hi @aslfu

It seems that your TFF computations are being interpreted through the `ReferenceExecutor`, which was generally intended for unit tests, and the developers of TFF are not planning on doing much work to support it for real workloads.

I would first recommend upgrading your TFF  pip package, as I see you are on version `0.4.0`; TFF is a very fast-moving project with a *lot* of features and

[2020-02-15 18:20] jkr26 commented on #796
Hi @armanoj

There are two distinct formats this data can be in, at the Python level--which you find more natural or easy to reason about tends to be background-dependent.

First, the recommended way for representing federated data is as a Python list of `tf.data.Datasets`, one dataset for each client. So that if you have a TFF computation whose `type_signature` attribute accepts `state` and feder

[2020-02-15 18:20] #796 closed

[2020-02-18 16:24] pentium3 opened #798 "Learning parameters of each simulated device"
Does tensorflow-federated support assigning different hyper-parameters(like batch-size or learning rate) for different simulated devices?

[2020-02-18 16:28] ZacharyGarrett commented on #798
This doesn't seem like a bug/feature request for the code, but rather usage question. This might be better asked at https://stackoverflow.com/questions/tagged/tensorflow-federated. Could you ask there?

[2020-02-18 16:28] #798 closed

[2020-02-19 07:19] aslfu commented on #797
Hi @jkr26
Thank you for your reply. I've upgraded tf=2.1.0 and tff=0.12.0. The error disappeared, but I came cross another error.  I believe it is relevant to data generator. Maybe I have the same problem as issue #793 ?

[code]

[2020-02-19 15:55] aslfu commented on #797
Hi @jkr26
I've upgraded tf==2.1.0 and tff==0.12.0, the error disappeared, but I got another error.

It seems that the generator reaches the last batch and does not match the input shape.

But ImageDataGenerator does not need to set `drop_remainder`. Is there anything wrong with my code?
 I also posted it on [stackoverflow](https://stackoverflow.com/questions/60181180/tensorflow-federated-typeerror

[2020-02-20 01:37] seanpmorgan opened #799 "Loosen dependency on TFA"
TensorFlow Addons is happy to be a part of the federated package. However, the current packaging restricts the version of TFA to be ~=0.6 which makes it so users can't keep an updated Addons library in their environment.

This is especially problematic in Colab since TF-Federated is an installed package in the TF2.X environment. This means that by default a quite old version on TFA is installed an

[2020-02-20 07:39] #797 closed

[2020-02-20 18:06] ZacharyGarrett commented on #793
@zm17943 could you take a look at the example in [this StackOverflow answer](https://stackoverflow.com/a/60266566/14692)? This does _not_ load all clients at once, only the clients in one round of competition are used at a time, and then the `tf.data.Dataset` also are only loading a subset of their entirely data, as-needed, for training.

[2020-02-20 19:11] michaelreneer commented on #799
TFA has been broken in the past at latest release. I don't think it's generally a good idea to accept major/minor features in a release. This keeps a release of TFF stable, reproducible, and working. We do accept hot fixes, i.e. `tensorflow-addons~=0.7.0`.

See https://semver.org/ for more information.

[2020-02-20 19:56] seanpmorgan commented on #799
Hi @michaelreneer thats fair and understand why its needed. I'll close this issue since I think it's more of an issue within colab environments, but I have little visibility into whats going on there. As of today it looks as though TFA was updated and TF==2.1.0 but TFF==0.11 which I didn't think was compatible with TF 2.1

![image](https://user-images.githubusercontent.com/18154355/74973259-1dc69a

[2020-02-20 19:56] #799 closed

[2020-02-21 16:55] pnzr00t opened #800 "custom_federated_algorithms_2 + collab = error"
Hello. Try run example in collab and get error.

Collab info
[code]

Error block:

[code]
Error message:

Printing "initial_model"

As i understood "initial_model" - created as sort dict, but it must be created as unsorted dict.

[2020-02-21 17:14] pnzr00t commented on #800
If replace this code
[code]

To that
[code]
All works great

If my answer wrong i can only say sorry, i'm noob in python

[2020-02-21 17:16] ZacharyGarrett commented on #800
@pnzr00t You're absolutely right, this needs to be changed. On `master` this has already been updated: https://github.com/tensorflow/federated/blob/master/docs/tutorials/custom_federated_algorithms_2.ipynb

However we need to update the tensorflow.org/federated site. I'll get on this.

[2020-02-21 17:24] pnzr00t commented on #800
Yes sorry, just find it about 3 minutes ago, sorry for junk topic.

I study course in coursera, and after first part demonstration, i go to link notebook, and probably it was lin at  0.10 version.

Any way, thank you for fast answer

[2020-02-21 22:05] pnzr00t commented on #800
I test 1 more time and found "my problem", in you "master" branch in notebook document, you have links  "View on TensorFlow.org | Run in Google Colab | View source on GitHub"

Links with "Run in Google Colab | View source on GitHub" is linked to URL https://colab.research.google.com/github/tensorflow/federated/blob/v0.12.0/docs/tutorials/custom_federated_algorithms_2.ipynb

Witch linked to

[2020-02-22 00:02] michaelreneer commented on #799
@seanpmorgan I am also curious how the installation is being done.

FYI, we fixed an issue today that has allowed us to move our development dependencies to the latest version. I should be able to bump the version of TFA to latest release.

I 100% agree with you that the issue seems like a colab environment building issue. It seems like there should be some requirements.txt that define the colab e

[2020-02-24 18:21] cramertj commented on #800
@pnzr00t Yes, the situation around docs versioning is unfortunate at the moment, and we're working to get this resolved internally. Thank you for your patience, and sorry for the confusion!

[2020-02-25 21:43] jkr26 commented on #783
Hi @jpgard

We actually just noticed that our test for this issue which was failing is now passing; [this commit](https://github.com/tensorflow/federated/commit/22895c49f9cd7889d80de22d018b10e0c84ece9b) enables this test again.

We are wondering--are you still seeing this issue?

[2020-02-25 23:31] #778 closed

[2020-02-28 12:41] aynesss commented on #797
can you tell us the solution ?

[2020-03-02 01:40] zm17943 commented on #793
Thank you! I have looked into the StackOverflow answer, and adjusted my code to load each client at one time. However, I am still confused about the use of real-time data augmentation, for example, can I use tf.Data.Dataset.from_generator to load data into Federated?

[2020-03-02 13:21] aslfu commented on #793
Hi, I tried to use tf.data.Dataset.from_generator to train federated model. But this step took forever.
[code]
I tried to reduce the batch_size and trainable parameters to get it fast, but still. I was wondering how to diagnose the training process?

[2020-03-02 17:29] zm17943 commented on #793
I have exactly

I have the exactly same issue!

[2020-03-02 18:15] jkr26 commented on #793
One thing that I might investigate here: try adding a `ds.take(1)` to your dataset constructors, or raise a `StopIteration` exception from your generator after yielding e.g. a single element.

If TFF is given an infinite `tf.data.Dataset`, it will likely reduce forever, keep pulling elements out of the dataset.

I am thinking this way because if your generator never raises `StopIteration`, I belie

[2020-03-03 16:23] aslfu commented on #793
Yes, I am using `ImageDataGenerator` to create my generator, and it produces infinite batches.
How to add `StopIteration`  in `ImageDataGenerator` ?  Or do I need to use another generator.

[2020-03-04 01:22] jkr26 commented on #793
We seem to be getting this question along multiple channels. Please see the stackoverflow answer ]here](https://stackoverflow.com/questions/60153603/tensorflow-federated-why-my-iterative-process-unable-to-train-rounds/60517814#60517814), and open a question there if that does not suit your needs.

Thanks!

[2020-03-06 04:23] #793 closed

[2020-03-07 08:24] Demontf commented on #789
I have the same problem.
I found that some work was given in the link.
https://github.com/tensorflow/federated/blob/master/docs/tutorials/high_performance_simulation_with_kubernetes.ipynb
1. Use k8 to maintain clusters, and each worker simulate client
2. On server side，connect with client via grpc
3. Set the executer in TFF. Like:
tff.framework.RemoteExecutor(channel, rpc_mode='STREAMING')

But th

[2020-03-09 02:53] Zing22 opened #802 "tf_nightly-1.15.0.dev20190805"
hello, I am looking for `tf_nightly-1.15.0.dev20190805` package on win64 platform. The link in README is not available. Could you please fix that link? thank you.

[2020-03-09 04:34] jkr26 commented on #373
I think we can consider this issue closable.

[2020-03-09 04:34] #373 closed

[2020-03-09 11:43] FancyXun opened #803 "Does tff.tf_computation support tf.numpy_function?"
When I use tf.numpy_function in optimizer_utils.py(tensorflow_federated/python/learning/framework/optimizer_utils.py) like this

[code]

and I call this function in run_one_round_tff, It gives me the errors in client side

I don't know why this happened?

[2020-03-09 15:34] michaelreneer commented on #802
@Zing22 thanks for bringing this to my attention, I'm taking a look at this.

[2020-03-09 16:37] michaelreneer commented on #802
@Zing22 I have done some digging and the PyPI team has requested that TF delete old binary due to size limitations. See https://github.com/pypa/pypi-support/issues/224. As a result, these packages are no longer being distributed. Unfortunately, the TFF package was dependent on TF nightly package while code was being migrated from TF1 to TF2. This means that these versions of TFF are not easily pip

[2020-03-09 16:37] #802 closed

[2020-03-09 18:19] michaelreneer commented on #802
I have done some more digging and the exact requirements are...

- TFF `v0.9.0` -> tf-nightly
- TFF `v0.8.0` -> tf-nightly==1.15.0.dev20190805
- TFF `v0.7.0` -> tf-nightly
- TFF `v0.6.0` -> tf-nightly
- TFF `v0.5.0` -> tf-nightly

Therefore, `pip install tensorflow_federated==0.8.0` will fail. It's likely that the other TFF versions listed above will also fail (at run-time) because they will be pu

[2020-03-10 18:25] steffenStra opened #804 "Bad Time Performance with a lot of clients"
I am using the TF Federated Framework to implement a fare price predictor on the NYC taxi dataset.
Therefore i split the dataset into a federated clientdataset and use it to train a federated predictor like in the tutorials provided online.
I noticed that the time needed to train increases rapedly when the amount of clients is increased.
All data is used for the training and is split across the am

[2020-03-10 20:18] michaelreneer commented on #804
Hi @steffenStra can I ask what version of TFF you are using?

[2020-03-10 21:06] steffenStra commented on #804
Hi @michaelreneer i am using TFF Version 0.12.0 on google colab.

[2020-03-11 15:10] #791 closed

[2020-03-11 15:10] michaelreneer commented on #791
Please feel free to reopen this issue if the link provided by @jkr26 does not help.

[2020-03-11 17:07] michaelreneer commented on #804
Hi @steffenStra I think this seems normal, lets assume that your setup can run 20 clients in parallel, which takes about 5 minutes

10 clients: 1 batch (20 clients in parallel) = 5 minutes
50 clients: 2-3 batches of 20 clients in parallel * 5 minutes = 10-15 minutes
500 clients: ~25 batches of 20 clients in parallel * 5 minutes = 125 minutes

Also note that aggregation gets slower with more client

[2020-03-12 14:55] jvmncs commented on #775
Is [this](https://github.com/tensorflow/federated/blob/master/tensorflow_federated/python/examples/remote_executor_example.py) that tutorial?

[2020-03-12 16:13] roselander commented on #775
I'm presently working on a colab tutorial which includes instructions on how to start GKE instances, but this example may be helpful as well. I expect to have the tutorial up on the website in the next few days, and will update the bug when it's ready.

[2020-03-12 23:51] roselander commented on #775
Actually the tutorial is public, we just haven't added it to the website yet: https://colab.research.google.com/github/tensorflow/federated/blob/master/docs/tutorials/high_performance_simulation_with_kubernetes.ipynb

For the {{version}} string in the docker image you should use "latest" for now. I just tested it, but please update this issue if you encounter any problems.

[2020-03-13 09:07] processdatatech commented on #789
@roselander How to simulate tff distributed?

[2020-03-16 15:24] cianohagan opened #805 "RuntimeError: This event loop is already running"
I have been receiving an issue while working through the TFF image classification tutorial (https://www.tensorflow.org/federated/tutorials/federated_learning_for_image_classification) when invoking the initialize computation to construct the server state.

RuntimeError                              Traceback (most recent call last)
<ipython-input-18-0c0dcd96a774> in <module>
----> 1 state = iterati

[2020-03-16 15:30] ZacharyGarrett commented on #805
@cianohagan could you provide details on where this is running?

- colab.research.google.com or Jupyter?
- Version of TFF being run?
- Version of Python?

[2020-03-16 19:38] skeydan commented on #805
Hi, I just got the same error, for that same code and as well, for this snippet from the algorithms 1 notebook:

[code]

I'm running on my local machine, with versions:

Python: 3.7.6
TF: 2.1
TFF: 0.12

Please let me know if there's anything else that could help. Many thanks!

Oops - forgot about the Jupyter question and now I tested, it **does in fact occur in Jupyter only, but not interactively

[2020-03-16 19:43] ZacharyGarrett commented on #805
If this is happening in Jupyter, could you see the instructions in the tutorial README? The section [Running the TFF Tutorials in Jupyter Notebooks](https://github.com/tensorflow/federated/blob/master/docs/tutorials/README.md#running-the-tff-tutorials-in-jupyter-notebooks) discusses how to install `nest_asyncio` (which is required only when running within Jupyter).

[2020-03-16 19:47] skeydan commented on #805
Wonderful, - works!

Many thanks for the quick resolution!

[2020-03-16 23:09] tzapzoor opened #806 "Links to tutorials must be updated on website"
Hi,

It seems the links to the tutorials that appear on the website must be updated. [This](https://www.tensorflow.org/federated/tutorials/custom_federated_algorithms_2) tutorial for example, doesn't point to the right colab or github link.

Thanks.

[2020-03-16 23:16] #805 closed

[2020-03-16 23:20] michaelreneer commented on #806
@tzapzoor thanks for pointing this out.  We published out documentation before we tagged the release. Sorry about that. You can use that [notebook](https://colab.sandbox.google.com/github/tensorflow/federated/blob/master/docs/tutorials/custom_federated_algorithms_2.ipynb) at `master`. I'll close this issue after I push the release and those links work again.

[2020-03-17 01:44] michaelreneer commented on #806
@tzapzoor the tutorial that you linked should now work. Sorry for the inconvenience.

[2020-03-17 01:44] #806 closed

[2020-03-18 11:39] cianohagan commented on #805
@ZacharyGarrett Thanks for that. I didn't see the instructions in the README about Jupyter. The code now works without any errors.

[2020-03-19 03:58] AshiakerWang opened #808 "AttributeError: module 'tensorflow' has no attribute 'contrib'"
The following error occurred while  running (https://github.com/tensorflow/federated/blob/master/tensorflow_federated/python/research/gans/experiments/emnist/classifier/measure_misclassification_of_users.py):

**AttributeError: module 'tensorflow' has no attribute 'contrib'**

There exists a similar issue #224 , but it's actually different from mine
since I have installed  TensorFlow 1.14.0 which

[2020-03-19 04:24] michaelreneer commented on #808
Hi @AshiakerWang, it looks like you are using an old version of the TensorFlow Federated package and if you have TensorFlow 1.14.0 then you are also using an old version of the TensorFlow package. Can you update to the latest version of those packages and see if that fixes your issue.

[code]

[2020-03-19 11:24] huangmingkai opened #809 "How to aggregate only part of client model weights?"
Not sure if I should ask here again. I encounted similar issue as https://stackoverflow.com/questions/60501245/can-i-broadcast-different-models-for-each-of-the-clients-in-federated-tensorflow, but seems no one answered it. Wondering if tff supports aggregating only part of client model weights? I mean the client model contains two parts, and one part needs to aggregate, the other part needs to kee

[2020-03-21 01:31] AshiakerWang commented on #808
thank you so much! I will try it.

[2020-03-21 01:31] #808 closed

[2020-03-23 13:21] AshiakerWang opened #814 "ModuleNotFoundError: No module named 'tensorflow_federated.python.research'"
The following error occurred while running "https://github.com/tensorflow/federated/blob/master/tensorflow_federated/python/research/gans/experiments/emnist/run_experiments.py" (I am attempting to regenerate the results of the [paper](https://arxiv.org/abs/1911.06679)):

`ModuleNotFoundError: No module named 'tensorflow_federated.python.research'`

1. Here is the full list of my anaconda environme

[2020-03-23 14:12] ZacharyGarrett commented on #814
I believe the research under `tensorflow_federated/python/research/gans/` requires using [bazel](https://bazel.build/) to build and run, similar to the rest of TensorFlow Federated. It likely won't work to run the python script directly.

@saugenst can you confirm? If this is the case, could we update the directory's [README.md](https://github.com/tensorflow/federated/blob/master/tensorflow_federa

[2020-03-24 04:01] AshiakerWang commented on #814
@ZacharyGarrett Thank you for your response very much, and I have installed bazel now. However, while running
 `bazel run \ tensorflow_federated/python/research/gans/experiments/emnist:run_experiments`
I have encountered some other troubles.
![Screenshot from 2020-03-24 11-54-25](https://user-images.githubusercontent.com/14258909/77386693-5ed21580-6dc6-11ea-87d7-3450c014c3ed.png)
As can be seen, I

[2020-03-24 14:52] ZacharyGarrett commented on #814
Could you try re-running the command _inside_ the folder where the cloned TensorFlow Federated repo is? TensorFlow Federated comes with a [`WORKSPACE`](https://github.com/tensorflow/federated/blob/master/WORKSPACE) file that should do everything needed.

[code]

Possibly the instructions for [Build the TensorFlow Federated pip package](https://github.com/tensorflow/federated/blob/master/docs/insta

[2020-03-25 09:20] AshiakerWang commented on #814
The problem was solved based on your suggestions. Thanks a lot!

[2020-03-25 09:20] #814 closed

[2020-03-26 15:09] g0wzancha commented on #745
Hi, I have a follow-up question.
1. As far as I understood, TF Privacy clips mini-gradients (derived from mini-batches), averages them, then adds the noise. The whole process is on one device.
2. For federated learning, McMahan et al. [1] suggests clipping mini-gradients on the user device, then on the server side averaging them and adding the noise.

Just to be sure, the code [2] implements the l

[2020-03-26 15:26] ZacharyGarrett commented on #745
[`tff.utils.build_dp_aggregate`](https://www.tensorflow.org/federated/api_docs/python/tff/utils/build_dp_aggregate`) provides an API for combining TF privacy queries with TFF. The object it returns is intended to be given to [`tff.learning.build_federated_averaging_process`](https://www.tensorflow.org/federated/api_docs/python/tff/learning/build_federated_averaging_process) via the `stateful_delta

[2020-03-26 15:43] kairouzp commented on #745
You are right that [2] implements the latter (i.e. bullet 2. in your
email). This is needed to train "federated models" with "user-level"
differential privacy (DP).

You can certainly use the combination of TFF + TF Privacy to train with
user-level DP even when the data is all on one device. This is doable as
long as you have the data keyed by clients/users. But if you do not care
about "user-leve

[2020-03-27 13:28] g0wzancha commented on #745
@ZacharyGarrett thanks! yes, I am aware of that.
@kairouzp, thanks! yes, I would like to use TF Privacy for record-level DP on the user side in federated learning, and I am not sure if that is possible using the current TFF APIs, because I think it requires to make changes on [1], more precisely, moving the call of `query.get_noised_result( )` from `post_process( )` to `preprocess_record( )`, mean

[2020-03-27 13:31] cianohagan opened #815 "Preprocessing error: TypeError: <lambda>() takes 1 positional argument but 2 were given"
Hi,

I am attempting the duplicate the EMNIST tutorial with another dataset by using tf.data to read data from tf keras image data generators. The issue arises when mapping the batch_format_fn to each batch of data as the mapping method passes 2 arguments to the batch_format_fn rather than the 1 'element' argument. I inspected the 2 arguments that are getting passed to the batch_format_fn and they

[2020-03-27 13:54] ZacharyGarrett commented on #815
The code in question is only using `tensorflow` core APIs (specifically setting up a `tf.data` pipeline), no `tensorflow_federated` or `tff` API. Looks like a usage question, rather than a issue/bug with Tensorflow Federated.

The best place for such questions is StackOverflow using the `tensorflow` tag (https://stackoverflow.com/questions/tagged/tensorflow). Could you re-post this question there?

[2020-03-27 13:54] #815 closed

[2020-03-27 21:07] kairouzp commented on #745
+Galen Andrew <galenandrew@google.com> is a better person to answer this
question, but my feel is that you can do that.

Having said that, I am not sure why you would want to train with on-device
record-level DP? What is the meaning of that?

On Fri, Mar 27, 2020 at 6:29 AM g0wzancha <notifications@github.com> wrote:

[2020-03-27 21:33] kairouzp commented on #745
Yes you could do what you want with fairly minimal changes. You wouldn't
actually change TFF, it's TFP you'd need to change (or rather extend). You
would have to make a new DPQuery in TFP that is almost the same as
GaussianSumQuery
<https://github.com/tensorflow/privacy/blob/master/tensorflow_privacy/privacy/dp_query/gaussian_query.py>,
except the addition of noise would move from get_noised_resul

[2020-03-29 20:32] g0wzancha commented on #745
Thank you very much Peter for the hints, quite useful!

Actually I have no clear hypothesis at this point, however, in my research in general, I attempt to  push the implementation of privacy practices more to the user side. For now, just trying out things, let's see if that will lead me somewhere :)

[2020-03-29 20:38] prabhujana opened #816 "Error while using GPU based execution"
I am trying to experiment with remote executor runtime with the example provided on this link.
https://github.com/tensorflow/federated/blob/master/tensorflow_federated/python/examples/remote_executor_example.py

If I using CPU based tensorflow, then everything works fine. However, for GPU based tensorflow
the follow error occurs and aborts execution:

2020-03-29 16:27:22.904103: I tensorflow/strea

[2020-03-30 05:10] slowbull opened #817 "Two issues when I tried to reimplement the result training emnist using adam"
The command line is as follows, where I follow the value in Table 10 of paper "https://arxiv.org/pdf/2003.00295.pdf":
bazel run emnist:run_federated -- --total_rounds=1500 --client_optimizer=sgd --client_learning_rate=0.001 --server_optimizer=adam --server_learning_rate=1.0 --clients_per_round=10 --client_epochs_per_round=1 --experiment_name=emnist_fedadam_experiment --root_output_dir=/export/tmp/

[2020-03-30 15:07] ZacharyGarrett commented on #817
1. Could you please post the contents of `pip freeze`? What version fo `tensorflow_federated` and `h5py` are installed?

2. @zcharles8 to confirm: I believe the Adam experiments may need higher `epsilon` values, though they might already be the default?

[2020-03-30 15:31] zcharles8 commented on #817
The Adam optimizer argument uses the Keras defaults unless otherwise specified. @slowbull I would recommend using the flag "--server_adam_epsilon=0.1" to re-obtain the results from our paper.

[2020-03-30 15:57] zcharles8 commented on #817
Using the same parameters but with the epsilon value set to 0.1, I am observing a consistently decreasing loss function. I would also caution against using FedAdam for EMNIST. On the character recognition task, it was the slowest to reach its peak accuracy, and for the autoencoder task, it consistently got stuck or diverged. FedYogi and FedAvgM were generally the best optimizers for EMNIST.

[2020-03-30 16:25] slowbull commented on #817
tensorflow-federated==0.13.1,
h5py==2.8.0
This problem is not observed every run. But it may occur sometimes.

@zcharles8  Thanks, epsilon=0.1 should do the trick. I will try yogi also.

[2020-03-30 16:36] ZacharyGarrett commented on #817
@slowbull Thanks for the information!

Could you possibly try adding a try/except context to see if there is a specific client id that is failing?

Maybe something like this:
[code]

[2020-03-30 19:20] slowbull commented on #817
@zcharles8 I tried to use Yogi:
bazel run emnist:run_federated -- --total_rounds=500 --client_optimizer=sgd --client_learning_rate=0.001 --server_optimizer=yogi --server_learning_rate=3.
162 --clients_per_round=10 --client_epochs_per_round=1 --experiment_name=emnist_fedyogi_experiment_n3_p1f2 --root_output_dir=/export/UserData/tmp/fed_opt/ --server_yogi_initial_accumulator_value=8.178
732e-6
The l

[2020-03-30 19:42] ZacharyGarrett commented on #817
@slowbull Ah, thanks for the additional information. It looks like h5py may not support concurrent access to the same file based on the code comment [here](https://github.com/h5py/h5py/blob/4589052eaa6aa8fec612bb2b73c11006e7ead20f/examples/multiprocessing_example.py#L17).

We may want to look into alternative file formats for the datatasets...

[2020-03-30 22:59] zcharles8 commented on #817
@slowbull For all of our adaptive optimizers, we used an epsilon value of 0.1. I believe this was noted in the paper. We should probably emphasize it in the repository too, as it seems to be critical to reaching a good minima.

For FedYogi, we actually took the extra step of optimizing the initial accumulator value based on the average norm of the gradients (across a small number of samples). Whil

[2020-03-30 23:00] zcharles8 commented on #817
We may want to make this information more explicit in our documentation. Thanks for trying it out! It's good to be reminded of what information should be exposed more formally.

[2020-03-31 03:19] slowbull commented on #817
@zcharles8   Are you referring to this sentence "For the adaptive optimizers, we fix the numerical stability constant \varepsilon to be 0.01" ? Thank you very much.

[2020-03-31 18:08] zcharles8 commented on #817
Yes, sorry, it was set to 0.01 in all experiments. I went back through the experiment output data to be certain.

[2020-04-01 15:01] kinetickansra opened #819 "AttributeError: type object 'DatasetV2' has no attribute 'TextLineDataset'"
Hi, I am following the tutorial 'Federated Learning for Image Classification', but using my own dataset. I got this error.

Each .csv has a 3 column dataset which I'm trying to simulate as a client data for testing federated learning.

here is my code:
[code]

I got the error

[code]

my environment
tensorboard == '2.2.0'
tensorflow == '2.2.0-rc2'
tensorflow_federated == '0.13.1'

[2020-04-01 15:08] kinetickansra commented on #819
Just to be clear I also tried doing @ZacharyGarrett 's solution on [Stack Overflow](https://stackoverflow.com/questions/60265798/tff-how-define-tff-simulation-clientdata-from-clients-and-fn-function)
i.e
[code]

But I got the following error

[code]

[2020-04-01 17:32] cramertj commented on #816
Sorry you hit this! There's an internal bug tracking this issue as well, and it's currently blocked on some work from the mainstream Tensorflow team. I'll try to give an update here when there's more to say, and thanks for your patience!

[2020-04-01 17:35] cramertj commented on #819
This is happening because `ClientData.from_clients_and_fn` takes a `list` of keys, and the code in your example passes `dataset_paths.keys()`. I'd try turning that into a `list`, like this: `list(dataset_paths.keys())`.

[2020-04-01 17:40] cramertj commented on #809
There isn't anything available yet for this that is plug-and-play-- it's possible to do by creating your own `IterativeProcess` and calling `tff.federated_aggregate`/`tff.federated_collect` manually. There are, however, some internal research examples that do this that we're looking to open-source soon. Stay tuned for those, otherwise feel free to ask questions if you decide to use `IterativeProce

[2020-04-01 19:49] kinetickansra commented on #819
Yes, I understand that! But it again goes to the main issue that I'm facing

`AttributeError: type object 'DatasetV2' has no attribute 'TextLineDataset'`

[2020-04-01 20:34] ZacharyGarrett commented on #819
The code appears to use `tf.data.Dataset.TextLineDataset`, but the tensorflow.org documentation seems to say the path is [`tf.data.TextLineDataset`](https://www.tensorflow.org/api_docs/python/tf/data/TextLineDataset). Does removing the extra `.Dataset` part help?

[2020-04-01 21:22] #817 closed

[2020-04-03 15:34] slowbull opened #820 "Issue when running stackoverflow_lr"
When I tried to run the experiment of stackoverflow_lr:

I have the following issue:

tf version: 2.1.0
tff version: 0.13.1

Is this a bug caused by tf and tff mismatch @ZacharyGarrett ?
I solved this issue by changing this line: https://github.com/tensorflow/federated/blob/d145e66ebb113423a3c921621e1b11957642ad24/tensorflow_federated/python/research/optimization/stackoverflow_lr/dataset.py#L53 to

[2020-04-03 15:45] ZacharyGarrett commented on #820
Those versions of TFF and TF should be compatible.

@zcharles8 @jkr26 have written a lot of the code in this directory, they might have ideas?

[2020-04-03 16:50] #783 closed

[2020-04-06 01:19] whyseu opened #822 "bulid tensorflow federated failed"
I follow the instrctons in the "https://tensorflow.google.cn/federated/install".
(1)Install TensorFlow Federated using pip: When I run the command "python -c "import tensorflow_federated as tff; print(tff.federated_computation(lambda: 'Hello World')())"" , there is a SyntaxError: invalid syntax os
(2)Using Docker: When I run the command "docker build . --tag tensorflow_federated", it always fails.

[2020-04-06 14:29] ZacharyGarrett commented on #822
@whyseu could you. please include which version of `tensorflow` and `tesnorflow_federated` pip packages are installed (found via `pip freeze`) and the version of python (found via `python --version`).

[2020-04-07 11:23] whyseu commented on #822
tensorflow 2.1.0; tesnorflow_federated 0.13.1; python 3.5.2

[2020-04-07 15:33] ZacharyGarrett commented on #822
The error is occurring on a literal string interpolation ([PEP 498](https://www.python.org/dev/peps/pep-0498/)) which was introduced in Python 3.6.

It seems like the TFF pip package maybe too lenient in declaring acceptable python versions.

Are you able to use a newer version of Python?

[2020-04-09 09:42] huangmingkai commented on #809
Thanks!
I have implemented this by transfering weights deltas to python environment by tff.federated_collect, the patch is
[optimizer_utils.txt](https://github.com/tensorflow/federated/files/4455248/optimizer_utils.txt)
Do you think this implementation is suitable?
The following issue is that performance is lowered by about 10X after using tff.federated_collect. Do you have any advice?
The version

[2020-04-10 08:49] fodierna opened #823 "Jupyter notebook freezes when executing a cell more than once"
Hello everyone,

I am trying to replicate the tutorials about TensorFlow Federated using Jupyter Notebook. I followed the procedure described [here](https://github.com/tensorflow/federated/blob/master/docs/tutorials/README.md) to setup Jupyter. However, when I try to execute a cell more than once, the notebook freezes and I have to restart it. I tried the same on Colab and everything goes well. I

[2020-04-12 22:34] jkr26 commented on #823
Hi @fodierna

Hm, this is a tough one for us--generally speaking, we are optimizing for the colab experience, as managing different builds, versions, release cycles and testing etc. is actually impossible due to mutually incompatible configurations.

Assigning to the person who wrote that documentation, as presumably they have the most state here.

[2020-04-12 22:49] jkr26 commented on #803
Hi @FancyXun

I have been unable to reproduce this problem in our current setup (that is, with TFF 0.13.1). See the colab [here](https://colab.research.google.com/drive/15wfY6xv4LZa1oBf-mNjJXJfir1XIwLWy) for a working version of the above.

With a new version of TFF, is this fixed on your end?

[2020-04-13 22:17] jczestochowska opened #824 "Gradient quantization/sparsification"
Hi! I would like to perform federated learning with gradient quantization/sparsification, I am looking for a way to implement that using tensorflow federated, I know we can utilize `tff.learning.build_federated_sgd_process` but is there a way to modify each client's gradients before sending them to the central node? Thanks for any guidance and help in that matter.

[2020-04-14 15:50] jkr26 commented on #824
@PraChetit I think has the most knowledge about this, assigning.

[2020-04-14 16:30] michaelreneer commented on #823
@fodierna

The fact that your notebook is freezing sounds like it could be related to Jupyter + asyncio. But I have not hit this issue myself and I do not have an idea for you on how to fix this issue. My suggestion would be to repost this question on Stack Overflow and tag: [tensorflow-federated](https://stackoverflow.com/questions/tagged/tensorflow-federated), [jupyter-notebook](https://stackove

[2020-04-14 16:30] #823 closed

[2020-04-14 16:42] michaelreneer commented on #819
@kinetickansra Please reopen this issue if @ZacharyGarrett suggestion did not fix your issue.

[2020-04-14 16:42] #819 closed

[2020-04-14 16:43] cramertj commented on #809
You're in luck! `federate_collect` had a severe performance issue on the simulation stack, and I have a patch locally that fixes it. I'll try to have it in some time this week-- thanks for your patience!

If you're curious, it boils down to the `EagerTFExecutor::create_value` call with values of `SequenceType` calling into [`make_dataset_from_elements`](https://github.com/tensorflow/federated/blob

[2020-04-14 17:08] michaelreneer commented on #822
This should not be an issue with Python 3.6 and greater. The latest tensorflow_federated package on PyPI is not annotated correctly to express the fact that it is dependent on Python 3.6 and greater. This will be fixe in the next release.

[2020-04-14 17:09] #822 closed

[2020-04-14 22:58] Sannaraek opened #825 "Invalid argument: Default MaxPoolingOp only supports NHWC on device type CPU"
I've run into an error when trying to run a CNN model with a max-pooling operation in my tff experiment.

I have 2 Nvidia GPU's on my machine and my tff library was able to utilize them if I use a DNN model without max-pooling.

As you can see with the log below, My script was able to load the 2 GPUs but I get an error which says I'm using the CPU.

[code]

The model I used is

[code]

**Environme

[2020-04-14 23:35] michaelreneer commented on #825
Hi @Sannaraek

It looks like you are getting that error out of TensorFlow. Can you confirm that you can create and utilize this model without TensorFlow Federated? I'm wondering if this is an issue in keras.

[2020-04-15 00:36] Sannaraek commented on #825
Hello @michaelreneer

I just tried to train a Keras Tensorflow CNN model with max pooling. I used the same code for the model.
Everything seems to work fine on the Tensorflow side.

Below is the second part of the error message I get when I try to run my code in a TFF experiment.

[code]

[2020-04-15 16:25] michaelreneer commented on #825
Off the top of my head I don't know what is going on here, but I will take a look and/or find someone who does.

While I am investigating, I notice that you are setting the default executor to the `ReferenceExecutor`. What happens if you don't change the default executor to the `ReferenceExecutor` and re-run, do you get the same error?

[2020-04-15 17:10] Sannaraek commented on #825
I'm not very familiar with the `ReferenceExecutor`, might I ask if you can give me an example on how to change it?

[2020-04-15 17:27] michaelreneer commented on #825
Sure! I don't think it's going to make a difference BTW, I'm just suggesting that we gather more data. The default executor should not actually be the `ReferenceExecutor`, you must have set it. Similar to how it is set in https://www.tensorflow.org/federated/tutorials/custom_federated_algorithms_2. So I'm suggesting that you search your code for where you are setting the default executor to someth

[2020-04-15 18:38] cramertj commented on #809
I've just landed https://github.com/tensorflow/federated/commit/c7f90f11ca17224cdf130206dbd0736f9a8a7318 which gives me massive speedup on some cases of `federated_collect`. It'll be available in the next release. Let me know when you have a chance to try it and if it helps you!

[2020-04-15 18:56] nightldj commented on #825
Hi Sannaraek, we are actively working on improving the TFF performance on accelerators (GPU/TPU). Things often get complicated because we have to make sure things still work on device.

To help us understand more and find a solution, could you help verify that the error is from placing the TF ops on CPUs? You can do it by running your pure TF code in a `tf.device('/cpu:0')` scope. Or even more rel

[2020-04-15 19:31] Sannaraek commented on #825
@michaelreneer Thank for your help!
In this case, I get a different error

[code]

[2020-04-15 19:37] Sannaraek commented on #825
@nightldj  Hi Zheng

Thank you for your support

I'm currently using `tff.learning.federated_averaging ` for traininng

I've included `tf.device('/cpu:0')` in my script and did a rerun. The same error as the initial was raised.

[2020-04-15 19:44] nightldj commented on #825
@Sannaraek , to clarify, are you running the pure TF code without TFF? In your previous comments, you said the pure TF code runs fine. I think pure TF will place ops on GPUs by default if GPUs are provided. You can force TF to place ops on CPU by either tf.device or CUDA_VISIBLE_DEVICES to see if the same error message shows up as in the TFF case.

[2020-04-15 19:55] Sannaraek commented on #825
@nightldj , Oh I'm sorry about the mistake, I ran the experiment in a TFF script.

I've run my other pure TF script with  `tf.device('/cpu:0')`included and I confirm that the model is training and working.

[2020-04-15 20:05] michaelreneer commented on #825
@Sannaraek Seems like there is possibly two things to consider here. Would it be possible to create and share a [colab](https://colab.research.google.com/) that generates these errors?

[2020-04-15 20:10] nightldj commented on #825
@Sannaraek Thanks for confirming that. To make sure the problem is not from TF ops device placement, would mind running your pure TF code with `CUDA_VISIBLE_DEVICES=` to explicitly make GPU not available?

[2020-04-15 20:22] Sannaraek commented on #825
@michaelreneer  That is okay with me, but if possible, Can I send the link of the collab by email to your Github's Gmail account?
My work is part of a lab, I'm not sure if it may be okay for me to post it openly.

[2020-04-15 20:27] Sannaraek commented on #825
@nightldj  I've confirmed that with os.environ["CUDA_VISIBLE_DEVICES"] = "-1" or CUDA_VISIBLE_DEVICES='', The model was able to train in a pure TF script.

[2020-04-15 22:38] nightldj commented on #825
@Sannaraek Thanks again. You could also cc the link to me to take a look, '%s%s@google.com'%(xu, zheng).

[2020-04-15 22:57] Sannaraek commented on #825
I've just sent an email with the link to a colab instance.
Thank you for your time!

[2020-04-16 00:10] Sannaraek commented on #825
Some additional info about the machine I'm running on,

This the result I get when I run a `device_lib.list_local_devices()`

[code]

[2020-04-16 14:19] pepper-jk opened #827 "tensorflow_gpu 2.1 and dependencies"
**Description of the bug**
When I install tensorflow federated after tensorflow gpu, tensorflow will no longer recognize the GPU. I have a simple script using `tf.test.gpu_device_name())` to test if a gpu is available, but it complained about missing libs: 'libnvinfer.so.6', 'libnvinfer_plugin.so.6', and

After a little digging I found out that the libs `libcudnn7` and `libnvinfer6` were not insta

[2020-04-16 16:55] michaelreneer commented on #827
Hi @pepper-jk, thanks for your interest in TensorFlow Federated.

So this is interesting. Note that [tensorflow](https://pypi.org/project/tensorflow/) and [tensorflow-gpu](https://pypi.org/project/tensorflow-gpu/) have different project names. But they both function as the `tensorflow` package when you install them into the same environment. Also note that the `tf-nightly` behaves this way as well

[2020-04-16 17:11] pepper-jk commented on #827
Thanks for the quick answer.

**Disclaimer**
I can't 100% reproduce the issue at the moment, since the server I'm working on is used by other users at the moment and apparently they use different lib versions (see below). So do not take this as the final reply to your comment. Just wanted to let you know, I'm here and greatefull for your support.

However I still get a similar issue with a "clean"

[2020-04-16 17:24] Sannaraek commented on #825
@nightldj  some additional information I've found is that the code is able to run on Google colab if I use a TPU but fails when I select a GPU

[2020-04-16 20:07] nightldj commented on #825
@Sannaraek This is an interesting observation. There is a secret configuration to explicitly set CPU/GPU/TPU in TFF which is under beta test. Would you want to try it to see what happens, and whether it solves the problem? Sorry did not find time to look at your code yet, but I do receive the email and appreciate that.

at the very beginning of your binary, after import tff, add/replace the follow

[2020-04-16 20:24] michaelreneer commented on #827
@pepper-jk Have you gone through all the GPU installation steps found at https://www.tensorflow.org/install/gpu?

[2020-04-16 20:26] pepper-jk commented on #827
No, since I did not set up the driver and cuda.

My job was to setup the libraries, but I got permission to fix the installation. I will do so tomorrow.

[2020-04-16 20:47] Sannaraek commented on #825
@nightldj Thank you for your help.

I tried adding the lines after a tff import and I get the following error (Running on colab)

[code]

[2020-04-16 20:59] jczestochowska commented on #824
Many thanks!

[2020-04-16 21:52] michaelreneer commented on #827
It seems possible that we updated the TF that you were using and thus you need to update the cuda library. I think you should install the software here https://www.tensorflow.org/install/gpu#software_requirements and then follow the instructions for linux setup here https://www.tensorflow.org/install/gpu#linux_setup

[2020-04-17 06:51] pepper-jk commented on #827
Yes, that would be the ideal solution. However I do not have green light yet to change the cuda version on the server, or the driver for that matter.

Once I get the green light I'll happily do that.

Regarding [your earlier post](https://github.com/tensorflow/federated/issues/827#issuecomment-614772302) about the fresh venv. I was able to downgrade the packages again and even with a "clean" venv,

[2020-04-17 09:38] PraChetit commented on #824
_[apologies for my late response...]_

Yes, there is! Have a look at [Model and update compression](https://github.com/tensorflow/federated/blob/master/docs/tff_for_research.md#model-and-update-compression) section in the tff_for_research doc. The simple example there should get you started.

You can implement the `EncodingStageInterface` using standard TF, and pass them into the [`tff.learning.bu

[2020-04-17 16:20] nightldj commented on #825
@Sannaraek  `server_tf_device` is probably not in the released version yet. I will take a look at your colab today.

Try this
client_devices = tf.config.list_logical_devices('GPU')
tff.framework.set_default_executor(
tff.framework.local_executor_factory(
client_tf_devices=client_devices))

[2020-04-18 00:02] jkr26 commented on #820
@zcharles8 just pushed [this change](https://github.com/tensorflow/federated/commit/22c89fac4aa9e92e591a7de43e705773215986b2), which should have fixed this problem. @slowbull, could you ocnfirm?

[2020-04-18 03:35] nightldj commented on #825
@Sannaraek I cannot run your colab because of the drive access. This line looks suspicious to me. `tf.keras.backend.set_floatx('float64')`. Is it necessary for your experiment? Could you try comment it out?

[2020-04-18 10:36] Sannaraek commented on #825
@nightldj  Thank you!
I initially added `tf.keras.backend.set_floatx('float64')` because I received a warning:

[code]

Thank you very much for your time and help!

[2020-04-18 16:23] Fabrolly opened #829 "Error 403 for TensorBoard Metric visualization in the first FL tutorial"
Hi,
there is a problem in displaying model metrics in TensorBoard inside the [first tutorial](https://colab.research.google.com/github/tensorflow/federated/blob/v0.13.1/docs/tutorials/federated_learning_for_image_classification.ipynb)

[At the input box 22](https://colab.research.google.com/github/tensorflow/federated/blob/v0.13.1/docs/tutorials/federated_learning_for_image_classification.ipynb)
`

[2020-04-18 16:26] #829 closed

[2020-04-18 16:27] Fabrolly opened #830 "Error 403 in displaying TensorBoard metrics inside the first FL tutorial"
Hi,
there is a problem in displaying model metrics in TensorBoard inside the [first tutorial](https://colab.research.google.com/github/tensorflow/federated/blob/v0.13.1/docs/tutorials/federated_learning_for_image_classification.ipynb)

[At the input box 22](https://colab.research.google.com/github/tensorflow/federated/blob/v0.13.1/docs/tutorials/federated_learning_for_image_classification.ipynb)
`

[2020-04-18 20:14] nightldj commented on #825
@Sannaraek For the warning, I would suggest you check your input data and cast them to float32. Float32 is better supported in general. We would also double check our support for float64 in TFF.

[2020-04-18 21:13] matech96 opened #831 "Documentaiton: optimization bazel"
On this markdown file [https://github.com/tensorflow/federated/blob/master/tensorflow_federated/python/research/optimization/README.md](https://github.com/tensorflow/federated/blob/master/tensorflow_federated/python/research/optimization/README.md)
there is the following command: `pip install bazel`.

I haven't found a bazel pip package.

[2020-04-18 22:14] #825 closed

[2020-04-19 10:50] liuquande commented on #785
Hi @aqibsaeed , I met the same problem when I try to use multiple inputs in keras model.
I am using tff 0.6.0 now.
May I know how did you solve it and in which version is the problem fixed?

Many thanks!

[2020-04-20 14:13] liuquande opened #832 "Code doesn't run on GPU"
**Describe the bug**

I am building my own project with tensorflow federated learning API.
When running my code, the GPU is visible (as shown below), but the computation of federated learining was not done on GPU.

**System output to show that the gpu is indeed added**
[code]

**Environment (please complete the following information):**
* Linux Ubuntu 16.04
* Python package versions

When running

[2020-04-20 14:18] pepper-jk commented on #827
Thanks for the help.

I followed the instructions and now it works perfectly.

[code]

## For future reference:

Please note that installing the `cude-10-1` package on ubuntu 16.04 will require a newer driver than `nvidia-418`, whiche the guide promotes, I assume it is the newest. In my case that was `nvidia-440` However apt will automatically install it an remove the old driver you just installed

[2020-04-20 14:18] #827 closed

[2020-04-20 17:37] #830 closed

[2020-04-20 18:29] zcharles8 commented on #831
Thanks for the careful reading! Your assessment is correct. We have updated the documentation regarding Bazel installation. Hope that helps!

[2020-04-20 18:29] #831 closed

[2020-04-21 08:13] FancyXun commented on #803
Thanks!
Does this code in colab run in client side? Follow https://www.tensorflow.org/api_docs/python/tf/numpy_function , tf.numpy_function can not support  serialize

[2020-04-21 10:15] liuquande commented on #832
Can anyone help me?   Many thanks！

[2020-04-21 10:47] liuquande commented on #825
@Sannaraek
Hi Sannaraek, did you successfully run your code on GPU?
I train to run my own code as well as the image classification demo on GPU with tff 0.13.1.
These codes can be ran successfully and the GPU can be successfully loaded.  But it appears that the training haven't been done on GPU at all because the GPU util is always 0%.

Could you please share with me your experience about how to ma

[2020-04-21 11:58] Sannaraek commented on #825
@liuquande Hi
For my case, I just followed the Tensorflow GPU set-up requirements (https://www.tensorflow.org/install/gpu)

from tensorflow.python.client import device_lib

You use the below to see if TF ses your device
`print(device_lib.list_local_devices())`
or
[code]

If you have multiple GPU, You can select which to use with the below
`os.environ["CUDA_VISIBLE_DEVICES"] = "0"
`

[2020-04-21 12:55] liuquande commented on #825
Dear @Sannaraek ,
Thanks for your reply.

Acturally the GPU can be successfully loaded when I run the demo code. The problem is that even though the GPU is loaded, the federated training is not done on GPU.

I add the following at the beginning of demo code.
`print("Num GPUs Available: ", len(
    tf.config.experimental.list_physical_devices('GPU')))`

Here is what I got:
[code]
The output above s

[2020-04-21 14:29] liuquande commented on #278
Dear @ZacharyGarrett ,
I met the same problem as this issue and really have no idea how to solve it.

I am using tff 0.13.1 with tf 2.1.0. The demo code I used can be found here:
 https://paste.ubuntu.com/p/sPtqngFPWP/

The GPU can be successfully loaded when I run the demo code. The problem is that even though the GPU is loaded, the federated training is not done on GPU.

I add the following at t

[2020-04-21 16:42] SamuelGong opened #834 "[Big confusion] Why does server need optimizer"
Hi, I have read *Communication-Efficient Learning of Deep Networks
from Decentralized Data* for the entire algorithm FedAvg, but still I can see no clues about what role does `server_optimizer_fn` play. Because what clients upload should be local model weights, they should be simply used to compute weighted average at the server end.

* The server-end optimizer is `SGD` with `lr = 1.0`. Is this a

[2020-04-21 17:41] zcharles8 commented on #834
Hi Samuel. Great question. There are two important things happening here. First, instead of sending the client weights (as in the paper you mention), we broadcast the difference (the so-called `model delta` discussed in https://www.tensorflow.org/federated/api_docs/python/tff/learning/build_federated_averaging_process) between the weights broadcast to the client, and the client weights after local

[2020-04-21 21:25] nightldj commented on #832
@liuquande Thanks for the detailed description. tff.learning.federated_averaging currently uses features from TF that will default to CPUs and it is expected to be fixed in the next TF version.

For now, to have a better utility of GPUs, my suggestion would be to look at the simple_fedavg (https://github.com/tensorflow/federated/tree/master/tensorflow_federated/python/research/simple_fedavg) imple

[2020-04-22 05:02] liuquande commented on #832
Hi @nightldj, thanks for the suggestion.

As suggested, I try to run the simple_fedavg demo to see the GPU util rate. ((https://github.com/tensorflow/federated/tree/master/tensorflow_federated/python/research/simple_fedavg)))

When running the code (without any change) using bazel :
`
bazel run tensorflow_federated/python/research/simple_fedavg:emnist_fedavg_main
`

I got the following error:
[cod

[2020-04-22 13:17] SamuelGong commented on #834
Hi Zachary,

Thanks for the surprisingly prompt and detailed answer! Now I have no question.

[2020-04-22 13:17] #834 closed

[2020-04-22 17:25] pepper-jk commented on #832
Could you provide a link to the issue in the TF repo?
I'd like to look for their fix and maybe compile TF myself in order to use it sooner rather than later?

[2020-04-22 18:01] nightldj commented on #832
@pepper-jk I am not pretty sure how to map internal report to public issue, but TF code after Apr 16 should have fixed the problem. You can compile any TF version after Apr 16.

@liuquande simple_fedavg runs OK on my side. My guess is that you are running the most recent version of simple_fedavg with the pip installed TFF. Could you try run an older version of simple_fedavg, like the following one

[2020-04-23 10:26] pepper-jk commented on #832
So I build tensorflow master at 0493a020d48081b6f2afb53a1ac9d45b2861c03d and there is no significant improvement in performance.

It seems to use the GPU but only every few seconds and only at 70%.

[2020-04-23 10:40] liuquande commented on #832
@pepper-jk
Yes, I was monitoring the GPU usage all the time when running the demo code, but my usage is 0% (sometime could be 6% or 7%).
Did you run the demo code or your own code? I mean the program that can successfully use GPU for 70%.

[2020-04-23 10:43] pepper-jk commented on #832
It's our own code.

Just wanted to make sure you did not miss the GPU usage, because I did at first with just manually using `nvidia-smi`.

[2020-04-23 10:47] liuquande commented on #832
@pepper-jk
Thanks for your reminding.
What's your GPU usage before installing tensorflow master.
Could you please try the image classification demo here "https://paste.ubuntu.com/p/sPtqngFPWP/",
and have a look at the GPU usage.

[2020-04-23 10:56] pepper-jk commented on #832
Sadly I can not. Our GPU memory is full at the time with since our experiments are currently running anyway. We need the results and in case it turns out the GPU can't be utilized completely we need to keep it running like this.

However we only changed the [tutorial](https://www.tensorflow.org/federated/tutorials/federated_learning_for_image_classification) code very slightly, for example to use

[2020-04-23 11:03] liuquande commented on #832
@pepper-jk
Many thanks for your informaiton.
Did you think installing the up-to-date tensorflow master improve your GPU usage?

[2020-04-23 11:06] pepper-jk commented on #832
From what I can see no.
However maybe @nightldj will have some more information.

I'm currently compiling the master of today, seeing if this will change anything, but I doubt it.

Any luck with the "simple avg" function, that was named as an alternative?

[2020-04-23 11:18] liuquande commented on #832
Sorry what do you mean by:

I can now successfully run the 'simple_ave' demo, but also the GPU usage is low.
Sometime it could be 20% but in most time it is 0%, see below.
![image](https://user-images.githubusercontent.com/29408526/80093280-c2eb2380-8596-11ea-9de4-1e0dc600f861.png)

[2020-04-23 11:30] pepper-jk commented on #832
You basically answered my question.
I was wondering if the performance improved.

[2020-04-23 17:18] jczestochowska commented on #824
Thank you for pointing me to the right place in the project! My current trouble is that if we wanted to change the code and run our experiments it would be most convenient to build research and utilise it as an external dependency, I don't know however how to proceed with that? Could you also give me some advice on how to proceed with that? Thank you in advance for any help in that matter

[2020-04-23 17:23] jczestochowska commented on #824
sorry I wasn't aware that this is not a correct place to ask questions, I will close the issue and move my question to stackoverflow.

[2020-04-23 17:23] #824 closed

[2020-04-23 22:31] zcharles8 commented on #820
Hi @slowbull, just wanted to ping this thread again. I've since attempted to make sure that using the code internally and externally produced the same results, and things look good as far as I can tell. Have your issues been resolved?

[2020-04-23 23:02] nightldj commented on #832
@pepper-jk It is a bit tricky to use the local TF. Sorry if I confused you at the beginning. You probably have to build TFF following the instructions here https://www.tensorflow.org/federated/install#build_the_tensorflow_federated_pip_package. Also, you have to make sure TF is installed in your local python environment, or build a pip package to be installed in the TFF environment.

@liuquande si

[2020-04-23 23:07] pepper-jk commented on #832
I have build TF and installed it as a pip package in my venv. I did not have any problems with TFF detecting the package, since the TF package I build and installed is labeled as version 2.1.

What I was asking is, if the fix you referred to was perhaps made in TFF - not TF like you said. And if this is the reason why I did not see any improvements?

If so I will gladly also build TFF from scratch

[2020-04-24 00:21] nightldj commented on #832
@pepper-jk Thanks for verifying the TF installation. The fix is from TF, not TFF. Do you mean the TF version in TFF after your local TF installation is 2.1 can confirm that the correct TF is used? I am not the expert on installation stuff. If it is not too much trouble, would you mind building TFF following https://www.tensorflow.org/federated/install#build_the_tensorflow_federated_pip_package? Yo

[2020-04-24 08:25] pepper-jk commented on #832
Here you go from my earlier post:

I can do that. But what exactly is the goal with this? Just running the tests with my locally build TF package?

[2020-04-25 04:29] slowbull commented on #820
Sorry for the late reply. It works.  @jkr26 @zcharles8

[2020-04-25 04:29] #820 closed

[2020-04-26 07:16] nightldj commented on #832
@pepper-jk I guess I just want to double check that the fixed TF is used in TFF. In my humble opinion, GPU utility depends on a lot of factors. And I would look for more evidence: (1) compare GPU and CPU to verify speedup (2) compare with pure TF on GPU (3) Sanity check on model training workload and data pipeline.

[2020-04-28 03:12] PhungLai728 opened #837 "User-level DP with emnist and stackoverflow not running!"
I'd like to reproduce the results of User-level DP in the Learning Differentially Private Recurrent Language Models paper [H. Brendan McMahan et al. ICLR 2018]. But the Reddit dataset is not publicly available. So I try with emnist and stackoverflow that are provided in the implementation.

But I am not able to run the model with these datasets. (I am using the latest version tff 0.13.1 &	tensorfl

[2020-04-28 03:18] SamuelGong opened #838 "[Big Confusion] How to Set DP Query Parameters?"
Hi developers,

I am running something basically like [DP-FedAvg for EMNIST](https://github.com/tensorflow/federated/blob/master/tensorflow_federated/python/research/differential_privacy/emnist/run_federated.py), however, I saw poor convergence using default parameters (I trained over 2000 rounds yet got accuracy unstable and as low as 50%.):

* `clip` = `0.05`
* `noise_multiplier` = `1.3`
* `adap

[2020-04-28 18:49] aqibsaeed commented on #832
@nightldj does it mean that if we install TFF via pip, it is possible to train model on GPU? is training on the GPU is default now?

[2020-04-28 22:59] nightldj commented on #832
@aqibsaeed The default of TFF is similar to TF: if GPU is provided, TFF/TF will try to use it. But TFF on GPUs is under development and have not been broadly tested. We have been working on the performance and made some progresses, but we are not at a point to confidently advertise GPU usage for now.

[2020-04-29 11:42] huangmingkai commented on #809
It works and I also get massive speedup! Thanks for your great help!

[2020-04-30 07:00] nightldj commented on #837
Could you try the following for EMNIST/Stackoverflow for sanity check?

bazel run run_federated -- --clients_per_round 2 --uniform_weighting --noise_multiplier 0.1  --total_rounds 2 --client_optimizer sgd --client_learning_rate 0.1 --server_optimizer sgd --server_learning_rate 1.0 --root_output_dir /tmp/dp-opt/emnist --experiment_name debug

[2020-04-30 07:05] nightldj commented on #838
You can try if adaptive clipping (https://arxiv.org/abs/1905.03871) helps by trying the following parameter,

clip = 1
noise_multiplier = 1
adaptive_clip_learning_rate = 0.01
target_unclipped_quantile = 0.8

Also try a light-weight grid search for some of the parameters like
learning_rate=0.01,0.1,1
clip=0.5,1
noise_multiplier=0.1,1

etc.

[2020-05-01 17:39] SamuelGong commented on #838
Thanks for the comment! The paper is a good reference and I also benefit from the suggested parameters.

[2020-05-01 17:39] #838 closed

[2020-05-03 12:27] tzapzoor commented on #816
Hi! I also ran into this bug while trying to run tensorflow federated with a GPU base remote executor. Is there any way around it?

Some remote executor logs:
[code]

[2020-05-03 15:58] jvmncs opened #841 "Make research/ a normal Python package"
**Is your feature request related to a problem? Please describe.**
If I'm starting a new project, say `tff_project`, and I want this library to depend on code in `tensorflow_federated/python/research/`, my options are limited.

**Describe the solution you'd like**
Make `tensorflow_federated/python/research` into it's own Python package, installable with setuptools/pip. This can be driven by Bazel

[2020-05-04 03:14] PhungLai728 commented on #837
I am able to make it run. Thanks.

[2020-05-04 03:14] #837 closed

[2020-05-04 06:17] yeshwanthv5 opened #842 "RuntimeError: Cannot run the event loop while another loop is running"
**Describe the bug**
Not able to run the tutorial on local jupyter notebook. However, the same code runs on python shell.

Error Log:
[code]

**Environment (please complete the following information):**
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.15.3
* Python package versions (e.g., TensorFlow Federated, TensorFlow): TFF - 0.13.1, TF - 2.1.0
* Python version: 3.7.3
* Baze

[2020-05-04 09:17] yeshwanthv5 commented on #842
It is a jupyter issue not tff issue. Fix: I added the following

[code]
Ref: https://markhneedham.com/blog/2019/05/10/jupyter-runtimeerror-this-event-loop-is-already-running/

[2020-05-04 12:34] SlienceClaire commented on #788
@somiljain7 I meet the same question that  "Could not find a version that satisfies the requirement tensorflow-addons==0.6.0 (from versions: 0.7.0, 0.7.1, 0.8.1, 0.8.2, 0.8.3, 0.9.0, 0.9.1)
ERROR: No matching distribution found for tensorflow-addons==0.6.0". Can I ask about how can you solve it ?

[2020-05-04 19:47] tzapzoor commented on #789
I also tried to run distributed simulations using k8s workers, but was blocked by:
 - [this](https://github.com/tensorflow/federated/issues/816): the remote executor that runs on k8s doesn't seem to be able to execute on GPU.
- the simulation framework in tensorflow federated which doesn't allow you to predistribute data on remote clients before running federated computations. I wanted to run fede

[2020-05-05 18:06] PhungLai728 opened #843 "Which components add to a federated model to achieve DP protection ?"
I know that  to achieve DP, we need to clip gradients, aggregate gradients, and add noise. But, I am not sure how to add DP components (i.e., user-level DP as in `https://arxiv.org/abs/1710.06963`) from `tff/different_privacy` or `tf-privacy` into a a normal federated model (for example the text generation in the tutorial) in order to achieve privacy protection.
Any suggestion? Thanks!

[2020-05-08 08:19] pepper-jk commented on #832
So any update? When can we expect these improvements?
Is there something we could contribute to speed up the process? Maybe you want to open some more detailed issues on this topic that specifies required implementations to solve this?

[2020-05-08 09:33] pepper-jk commented on #832
@nightldj You might be right about the tests though:

[code]

[full log](https://pastebin.com/SNfpBhtH)

I switched to tf-nightly for more up to date tf instead of building it myself. And I pulled the most current tff to run the tests.
I had similar results with my personal tf build and "older" versions of tff about a week ago.

So any advice to fix this?
Is the GPU usage related to these failed t

[2020-05-08 18:31] cramertj commented on #816
Sadly still no update internally. :(

[2020-05-08 20:36] cramertj commented on #809
Woooo!!! :)

[2020-05-08 20:37] #809 closed

[2020-05-09 03:57] nightldj commented on #832
@pepper-jk We do know some GPU incompatible issues, and I have workaround committed in https://github.com/tensorflow/federated/commit/aec461ba9fee36a05704748041af2f94cc5e31c0. All TFF tests should run without error on GPU after the fix.

All my GPU tests are on P100/V100 with CUDA. At the head of TFF and TF, I have found one GPU works fine except for the known problem I tagged in test.  Multi-GPU

[2020-05-09 08:37] pepper-jk commented on #832
Please open some new issues here on github with more detailed information, so we might contribute to the solution. Or point to existing ones, if I missed them.

How is this a **workaround** for the issues with the GPU? You just skip the tests on GPU. Maybe you could call this a workaround for your CI, but not for the issue itself.

Okay, thanks for the information. I will try to get all the tests

[2020-05-11 20:25] anupamme opened #844 "protobuf issues: computation_pb2 and protobuf version issues"
**Describe the bug**

1. I installed protobuf (protoc) on ubuntu and compiled computation.proto file which created computation_pb2.py. The location of computation_pb2.py file is same as computation.proto file which is tensorflow_federated/proto/v0

2. when I run this command:

from tensorflow_federated.python.core.api.computations import federated_computation

I get this error and trace:

Tracebac

[2020-05-11 20:36] ZacharyGarrett commented on #844
Thanks for the report. Sounds like there maybe some holes in the documentation.

It will help debugging if we can break up Steps 1 and 2 into the full set of commands that others can copy to reproduce locally. A few questions:

In **Step 1**: Does "compiled computation.proto" means directly invoking the `protoc` compiler on `tensorflow_federated/proto/v0/computation.proto`, or does it mean buildin

[2020-05-11 20:37] ZacharyGarrett commented on #843
@kairouzp @galenmandrew, who work at the intersection of TFF and TFPrivacy, perhaps could provide some pointers?

[2020-05-11 20:39] ZacharyGarrett commented on #842
Thats correct, the TFF Notebooks work http://colab.research.google.com/, but running in a local Jupyter runtime requires installing the `nest_asyncio` package.

[2020-05-11 20:39] #842 closed

[2020-05-11 20:46] galenmandrew commented on #843
Hi Phung, I believe we were in correspondence via email, right? And I pointed you to the following code for enabling DP for federated training: https://github.com/tensorflow/federated/blob/master/tensorflow_federated/python/research/differential_privacy/stackoverflow/run_federated.py
Specifically the lines that add DP are 148-159. Does that answer your question?

[2020-05-11 20:56] PhungLai728 commented on #843
Hi Galen,
Yes, I am. Thanks for your response.
To make DP, I added line 148-159, and 173-176 to the normal federated code.
I wonder whether DP components need different data format or sth like that in order to make it run. I was following the data format of stackoverflow/sharespeare to create train and test data. It works with a normal federated code, but it does not work with DP. I got the follow

[2020-05-11 21:09] anupamme commented on #844
Hello,

In Step 1: Does "compiled computation.proto" means directly invoking the protoc compiler on tensorflow_federated/proto/v0/computation.proto, or does it mean building the proto using bazel build tensorflow_federated/proto/v0/:executor_py_pb2?

Ans: I used protoc compiler directly.

In Step 2: Where is the command run (python interpreter shell, python script, jupyter notebook)? If the later

[2020-05-11 22:25] ZacharyGarrett commented on #844
Hmm, and think there maybe a few pieces being conflated here.

Running from an interpreter in the root directory of the repo can cause issues. This will cause Python to searching for `tensorflow_federated` in the directory with the same name in the repo. If the code is expecting to import the pip package (which I believe the targeted_attack code is) this will fail. This is likely why its complaini

[2020-05-11 23:04] anupamme commented on #844
I was trying to bypass bazel build - was not clear to me that it is required.

I tried running attacked_fedavg_test.py (again not clear to me how to run the files in the research repository)

root directory: federated/

python3 tensorflow_federated/python/research/target_attack/attacked_fedavg_test.py

I ran into import issue:
 computation_pb2 file is not found for the proto file.

That led me to

[2020-05-11 23:39] michaelreneer commented on #841
@jvmncs **Can you be more specific about what API you want to use in `research/utils` package?** In the past we have "upstreamed" API from research into the TFF package. Where depends on the API in question. I think we don't want a solution that adds everything from research to TFF, but it is very likely that individual API should be upstreamed.

[2020-05-12 00:03] jvmncs commented on #841
Yep, sorry about that. This request comes from trying to experiment with the utilities in the `optimization/shared` subdirectory. Many of those APIs would be useful imo, in particular `fed_avg_schedule`.

I was originally thinking this could be a separate package from main TFF; something like a `tff-addons-nightly` package with no stability guarantees. Perhaps this is best left as a community proj

[2020-05-12 06:42] anupamme commented on #844
I used bazel to build (all 10 steps ran okay).

However not clear to me how can I run the code in research repo:

tensorflow_federated/python/research/target_attack/attacked_fedavg_test.py

[2020-05-12 09:40] pepper-jk commented on #832
I've got more information on the failing tests.

<details><summary>I looked into some of the logs in .cache and found this error repeatedly:</summary>
<p>

[code]

</p>
</details>

I **fixed** it with: `pip install --upgrade pip setuptools`

Before:
```Executed 116 out of 136 tests: 21 tests pass and 115 fail locally.```
After:
```Executed 115 out of 136 tests: 48 tests pass and 88 fail locally.``

[2020-05-12 12:40] PhungLai728 commented on #843
I am able to make the DP model work with customized models and data. Thanks!

[2020-05-12 12:40] #843 closed

[2020-05-12 15:15] pepper-jk commented on #832
<details><summary>The computation test you are referring to is passing on our server.</summary>
<p>

[code]

</p>
</details>

I was able to run the test on its own, so I do not run into the issue of the GPU running out of memory due to the other tests that are run in parallel.

So now that I can confirm the `tf-nightly` install is sufficient to run the current tf-federated master, I assume the nex